@import '__settings/init';

.other-projects-slider {
	padding: rem(31) 0 rem(71) !important;

	color: $color--light;

	overflow: hidden;

	position: relative;
	z-index: 1;

	@include media('>=lg') {
		padding: rem(114) 0 rem(163) !important;
	}

	&::before {
		content: '';
		display: none;

		position: absolute;
		top: rem(-102);
		right: rem(-337);

		z-index: -1;

		background-image: url("data:image/svg+xml,%3Csvg width='1015' height='1015' viewBox='0 0 1015 1015' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.07' d='M831.563 508.452C831.563 330.815 686.551 184.193 509.149 184.193C331.748 184.193 183.934 330.815 183.934 508.452C183.934 686.09 331.759 831.305 509.149 831.305C686.539 831.305 831.563 686.079 831.563 508.452ZM0.908181 508.452C0.908169 226.482 227.573 0.908411 509.149 0.908415C790.726 0.908419 1014.58 226.482 1014.58 508.452C1014.58 790.422 790.714 1014.58 509.149 1014.58C227.584 1014.58 0.908193 790.422 0.908181 508.452Z' fill='%23EF7D00'/%3E%3C/svg%3E%0A");

		width: rem(1015);
		height: rem(1015);

		@include media('>=lg') {
			display: block;
		}
	}

	&__title {
		@include font(40, 42);
		letter-spacing: 0;

		margin-bottom: rem(77);

		@include media('>=lg') {
			@include font(60, 70);

			margin-bottom: rem(31);
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;
		margin: 0;

		.splide__track {
			overflow: unset;
		}

		.splide__arrows {
			display: none;

			@include media('>=lg') {
				display: flex;

				right: auto;
				left: 0;
				bottom: rem(-92);
			}
		}

		.splide__list {
			@include media('<=991px') {
				display: flex !important;
				flex-direction: column;
				gap: rem(57);
			}
		}

	}

	&__item {
		box-sizing: content-box;

		@include media('>=lg') {
			width: calc(100vw - 500px) !important;
			max-width: rem(365);
		}

		&:not(:first-child, :nth-child(2)) {
			@include media('<=991px') {
				display: none;
			}
		}

		&__image {
			display: block;
			width: 100%;

			position: relative;

			border-radius: rem(4) 0 0 rem(4);

			overflow: hidden;

			@include media('>=lg') {
				width: rem(365);
				height: rem(297);

				border-radius: rem(4);
			}

			&::after {
				content: '';
				display: block;

				padding-bottom: 90.625%;

				@include media('>=lg') {
					display: none;
				}
			}

			&::before {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				background-color: rgba(0, 0, 0, 0.2);
			}

			img {
				position: absolute;
				left: 0;
				top: 0;

				width: 100%;
				height: 100%;

				object-fit: cover;

				@include media('>=lg') {
					position: relative;
					left: auto;
					right: auto;
				}
			}
		}

		&__title {
			font-family: $font-narrow;
			font-weight: 700;

			margin-bottom: rem(11);
			margin-top: rem(20);

			@include media('>=lg') {
				@include font(30, 34);

				margin-bottom: rem(10);
				margin-top: rem(23);
			}

			a {
				font-family: $font-narrow;
				font-weight: 700;
				color: currentColor;
				text-decoration: none;

				@include media('>=lg') {
					@include font(30, 34);
				}
			}
		}

		&__categories {
			@include font(18, 21);
			font-family: $font-narrow;
			font-weight: 700;
			letter-spacing: 0.02em;

			margin-top: rem(10);
		}

		&__link {
			display: inline-block;

			margin-top: rem(19);

			@include font(15, 20);
			color: $color--secondary;
			text-decoration: none;

			@include media('>=lg') {
				margin-top: rem(25);
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		margin-top: rem(72);

		@include media('>=lg') {
			display: none;
		}
	}
}
