@import '__settings/init';

.notre-adn {
	padding: rem(72) 0 rem(51) !important;

	overflow: hidden;
	position: relative;

	@include media('>=lg') {
		padding: rem(76) 0 rem(82) !important;
	}

	&::before {
		content: '';
		display: none;

		position: absolute;
		top: rem(171);
		right: rem(-275);

		z-index: -1;

		width: rem(1014);
		height: rem(1014);

		background-image: url("data:image/svg+xml,%3Csvg width='1014' height='1014' viewBox='0 0 1014 1014' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.03' d='M183.015 506.126C183.015 683.764 328.027 830.385 505.429 830.385C682.83 830.385 830.644 683.764 830.644 506.126C830.644 328.489 682.819 183.274 505.429 183.274C328.039 183.274 183.015 328.5 183.015 506.126ZM1013.67 506.126C1013.67 788.097 787.005 1013.67 505.429 1013.67C223.852 1013.67 -0.000237078 788.096 -0.000224753 506.126C-0.000212428 224.156 223.864 2.65116e-05 505.429 3.88192e-05C786.994 5.11268e-05 1013.67 224.156 1013.67 506.126Z' fill='black'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;

		@include media('>=lg') {
			display: block;
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	&__subtitle {
		margin-bottom: rem(15);
	}

	&__title {
		max-width: rem(853);
		margin-bottom: rem(30);

		@include font(40, 42);

		@include media('>=lg') {
			margin-bottom: rem(50);

			@include font(60, 70);
		}

		i {
			letter-spacing: 0.02em;
		}
	}

	&__description {
		max-width: rem(677);
		margin-bottom: rem(33);

		@include media('>=lg') {
			margin-bottom: rem(30);
		}
	}

	&__lines {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		flex-direction: column;

		@include media('>=lg') {
			margin: rem(50) 0 0 0;
		}
	}

	&__line {
		position: relative;

		cursor: none;

		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: $color--dark;

			.notre-adn__line__file {
				opacity: 1;
			}

			.notre-adn__line__text {
				color: $color--light;
			}
		}

		&:nth-child(even) {
			.notre-adn__line__text {
				@include media('>=lg') {
					margin-left: rem(250);
				}

				@include media('<=991px') {
					display: flex;
					justify-content: flex-end;
				}
			}
		}

		&:nth-child(3) {
			@include media('<=991px') {
				.notre-adn__line__text {
				margin-left: rem(5);
				}
			}
		}

		&:not(:last-child) {
			border-bottom: rem(1) solid $color--dark;
		}

		&__text {
			@include font(40, 50);
			letter-spacing: 0.02em;
			text-transform: uppercase;

			user-select: none;

			color: transparent;

			padding: 0;

			transition: margin 0.5s ease-in-out;

			@include media('>=lg') {
				@include font(70, 50);
			}

			.splide__track {
				@include media('>=lg') {
					overflow: unset;
				}
			}

			.splide__slide {
				pointer-events: none;

				padding: rem(30) 0;

				@include media('>=lg') {
					padding: rem(106) 0;
				}
			}

			span {
				font-weight: 700;
				white-space: nowrap;
				-webkit-text-stroke: rem(1) $color--dark;
				text-stroke: rem(1) $color--dark;

				position: relative;

				&::after {
					content: attr(data-text);
					display: block;
					position: absolute;
					left: 0;
					top: 50%;

					transform: translateY(-50%);

					color: $color--light;
					-webkit-text-stroke: 0;
					pointer-events: none;

					@include media('>=lg') {
						display: none;
					}
				}

				&:nth-child(2), &:nth-child(3) {
					@include media('<=991px') {
						display: none;
					}
				}
			}
		}

		&__file {
			display: flex;
			align-items: flex-end;

			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0;

			z-index: 2;

			pointer-events: none;

			transition: opacity 0.5s ease-in-out;

			@include media('>=lg') {
				left: rem(219);
			}

			img, video {
				width: rem(300);
				min-width: rem(300);
				height: rem(200);

				object-fit: cover;

				@include media('>=lg') {
					min-width: rem(525);
					width: rem(525);
					height: rem(329);
				}
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		margin-top: rem(14);

		@include media('>=lg') {
			justify-content: flex-start;

			margin-top: rem(21);
		}

		.wp-block-button__link {
			letter-spacing: 0.02em;
			padding: rem(15) rem(37);
		}
	}
}
