@import '__settings/init';

.main-footer {
	padding: rem(73) 0 rem(71);

	position: relative;

	color: $color--light;

	background-color: $color--primary;

	@include font(15, 20);
	@include media('>=lg') {
		padding: rem(110) 0;
	}

	&__top {
		.container {
			padding-left: rem(30);

			@include media('>=md') {
				padding-left: rem(15);
			}
		}
	}

	&__top-line {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}

	.footer-logo {
		display: inline-block;

		margin-bottom: rem(27);
	}

	&__info {
		margin-bottom: rem(59);

		@include media('>=md') {
			margin-bottom: rem(27);
		}

		@include media('>=lg') {
			flex: 0 20%;

			max-width: 20%;

			margin-bottom: 0;
		}
		@include media('>=xl') {
			flex: 0 33%;

			max-width: 33%;
		}
	}

	&__info-text {
		margin-top: rem(6);

		color: $color--light;

		a {
			color: $color--light;
			text-decoration: none;
		}
	}

	&__menu {
		@include media('>=md') {
			flex: 0 33.332%;

			max-width: 33.332%;
		}
		&--col-first {
			margin-bottom: rem(21);

			@include media('>=md') {
				margin-bottom: 0;
			}

			@include media('>=lg') {
				flex: 0 16%;

				max-width: 16%;
				padding-left: rem(25);
			}
		}

		&--col-second {
			margin-bottom: rem(21);

			@include media('>=md') {
				margin-bottom: 0;
			}

			@include media('>=lg') {
				flex: 0 18%;

				max-width: 18%;
				padding-left: rem(29);
			}
		}

		&--col-third {
			@include media('>=lg') {
				flex: 0 21%;

				max-width: 21%;
				padding-left: rem(14);
			}
		}
	}

	&__menu-link {
		display: block;

		background: none;

		padding-left: rem(20);

		margin-bottom: rem(9);

		color: $color--light;
		text-decoration: none;

		transition: color $transition;

		@include circle-before;
	}

	&__social {
		display: none;

		@include media('>=md') {
			display: block;
		}
		@include media('>=lg') {
			flex: 0 25%;

			max-width: 25%;
		}
		@include media('>=xl') {
			flex: 0 12%;

			max-width: 12%;
		}
	}

	&__social-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		margin-top: rem(35);

		column-gap: rem(10);
		@include resetList;

		@include media('>=md') {
			margin-top: rem(27);
		}

		@include media('>=lg') {
			justify-content: flex-end;

			padding-right: rem(19);

			margin-top: 0;

			column-gap: 0;
		}
	}

	&__social-item {
		@include media('>=lg') {
			margin-left: rem(13);
		}
		&:first-child {
			@include media('>=lg') {
				margin-left: 0;
			}
		}
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;

			padding: rem(4);

			color: $color--dark;

			border-radius: 50%;
			background-color: $color--light;

			transition: background-color $transition;

			&:hover,
			&:focus {
				background-color: $color--secondary;

				svg {
					color: $color--light;
				}
			}
		}

		svg {
			color: $color--dark;

			transition: color $transition;
		}
	}
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;

	margin-top: rem(36);

	@include media('>=400px') {
		margin-left: rem(-18);
	}

	@include media('>=md') {
		margin-left: 0;
	}

	@include media('>=lg') {
		justify-content: flex-start;

		margin-top: rem(19);
	}
	&__additional {
		margin-left: rem(40);

		p {
			margin-top: 0;
		}

		a {
			font-weight: 700;
			color: $color--light;

			@include link-underline($invert: true);
		}
	}
}