@import '__settings/init';

.hero-2 {
	padding: rem(30) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	min-height: rem(586);

	display: flex;
	align-items: center;
	justify-content: center;

	@include media('>=md') {
		min-height: rem(653);
	}

	&__title {
		@include font(50, 50);
		font-family: $font-narrow;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;

		margin-bottom: rem(85);

		@include media('>=md') {
			@include font(70, 50);

			margin-bottom: 0;
		}
	}

	&__image {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		z-index: -1;

		width: 100%;
		height: 100%;

		&::before {
			content: '';
			display: block;

			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;

			width: 100%;
			height: 100%;

			background-color: rgba(0, 0, 0, 0.4);
		}

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__circles {
		left: 50%;
		top: rem(147);

		transform: translateX(-50%);

		@include media('>=md') {
			top: rem(183);
		}
	}
}
