@import '__settings/init';

.press {
	padding: rem(52.5) 0 rem(49) !important;

	position: relative;

	@include media('>=lg') {
		padding: rem(49) 0 rem(87) !important;
	}

	&__wrapper {
		overflow: hidden;
	}

	&__row {
		margin-left: rem(5);
	}

	&__title {
		@include font(40, 50);
		letter-spacing: 0.02em;
		text-transform: uppercase;

		margin-bottom: rem(40);

		@include media('>=md') {
			margin-bottom: rem(38);
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;

		.splide__track {
			overflow: unset;
		}

		.splide__arrows {
			left: 0;
			right: auto;
			bottom: rem(-83);

			@include media('>=lg') {
				left: auto;
				right: rem(-2);
			}
		}

		// .splide__arrow {
		// 	color: $color--dark;

		// 	&:hover {
		// 		color: $color--secondary;
		// 	}
		// }
	}

	&__slide {
		width: calc(100vw - 87px);
		padding: rem(30) rem(20);

		border: rem(1.5) dashed rgba(255, 255, 255, 0.4);
		border-radius: rem(10);

		transition: border 0.3s ease-in-out;

		@include media('>=400px') {
			width: calc(100vw - 127px);
		}

		@include media('>=md') {
			width: rem(304);
		}

		&__title {
			@include font(25, 29);
			font-family: $font-narrow;

			margin-bottom: rem(10);
		}

		&__date {
			@include font(16, 20);
			font-weight: 700;
		}

		&__button {
			margin-top: rem(50);
			padding: 0;
			border: 0;
			background-color: transparent;
			transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;
			@include font(15, 20);
			color: $color--secondary;

			@include media('>=lg') {
				background-image: linear-gradient(currentColor, currentColor);
				background-repeat: no-repeat;
				background-size: 0% 1px;
				background-position: 100% 100%;
			}
		}

		&:hover {
			border: rem(1.5) dashed $color--secondary;

			.press__slide__button {
				color: $color--light;

				@include media('>=lg') {
					border: none;

					background-position: 0 100%;
					background-size: 100% 1px;
				}
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		margin-top: rem(131);

		@include media('>=md') {
			justify-content: flex-start;

			margin-top: rem(97);
		}

		.wp-block-button__link {
			@include media('>=md') {
				padding: 0 rem(20);

				@include font(15, 40);
			}

			svg {
				@include media('>=md') {
					width: rem(8);
					height: rem(8);
				}
			}
		}
	}

	&__popups {
		position: absolute;
	}

	&__popup {
		display: flex;
		justify-content: center;

		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		z-index: 4;

		width: 100%;
		height: 100%;

		opacity: 0;
		visibility: hidden;

		overflow-y: auto;

		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

		&.active {
			opacity: 1;
			visibility: visible;
		}

		&__overlay {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			z-index: 3;

			width: 100%;
			height: 100%;

			background: rgba(0, 0, 0, 0.73);
		}

		&__inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			position: relative;
			z-index: 4;

			max-width: rem(600);
			width: 100%;
			height: fit-content;
			margin: rem(30) rem(15);
			padding: rem(30) rem(15) rem(50) rem(15);

			background-color: $color--light;
			border-radius: rem(10);

			color: $color--dark;

			@include media('>=400px') {
				margin: rem(40) rem(15);
				padding: rem(30) rem(15) rem(70) rem(15);
			}

			@include media('>=lg') {
				max-width: rem(989);
				margin: rem(93) rem(30);
				padding: rem(57) rem(63) rem(129) rem(77);
			}
		}

		&__close {
			display: flex;
			justify-content: center;
			align-items: center;

			border: none;
			background-color: transparent;

			align-self: flex-end;

			width: rem(45);
			height: rem(45);
			min-height: rem(45);
			padding: 0;
			margin-bottom: rem(11);
		}

		&__date {
			font-family: 'Theinhardt';
			@include font(20, 20);

			margin-bottom: rem(10);
		}

		&__title {
			@include font(25, 35);

			margin-bottom: rem(20);

			@include media('>=lg') {
				@include font(40, 50);

				margin-bottom: rem(50);
			}

			&--review {
				font-family: 'Theinhardt';
				@include font(25, 35);
				font-weight: 900;

				margin-bottom: 0;

				@include media('>=lg') {
					@include font(40, 50);
				}
			}
		}

		&__row {
			display: flex;
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: rem(40);

			margin-top: rem(30);

			@include media('>=lg') {
				flex-direction: row;
				gap: rem(116);

				margin-top: rem(66);
			}
		}

		&__content {
			width: 100%;

			@include media('>=lg') {
				max-width: rem(369);
			}
		}

		&__description {
			@include font(15, 20);

			p:not(:last-child) {
				margin-bottom: rem(14);

				@include media('>=lg') {
					margin-bottom: rem(20);
				}
			}
		}

		&__link {
			margin-top: rem(50);

			.wp-block-button__link {
				padding-left: rem(35);
				padding-right: rem(35);
			}
		}

		&__media {
			width: 100%;

			@include media('>=lg') {
				max-width: rem(319);
				height: rem(390);
			}

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}
	}

}