@import '__settings/init';

.hero {
	padding: rem(30) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	min-height: rem(932);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include media('>=sm') {
		flex-direction: row;
	}

	@include media('>=lg') {
		min-height: rem(902);
	}

	&.active.scroll-down {
		.hero__title {
			&--after {
				@include media('>=sm') {
					transform: translate(0, 32px);
				}
			}

			& > span:not(.hero__title--after) {
				@include media('>=sm') {
					transform: translate(0, -32px);
				}
			}
		}

		.hero__description {
			opacity: 1;

			@include media('>=sm') {
				visibility: visible;
			}

			@include media('<=575px') {
				transform: none;
			}
		}

		.hero__arrow {
			opacity: 1;
			visibility: visible;
		}

		.hero__circle {
			&--bigger {
				animation: circleBiggerRoundinfinite 15s infinite linear;
				-webkit-animation: circleBiggerRoundinfinite 15s infinite linear;
			}

			&--smaller {
				animation: circleSmallerRoundinfinite 14s infinite linear;
				-webkit-animation: circleSmallerRoundinfinite 14s infinite linear;
			}
		}
	}

	&.scroll-down-default {
		.rounded-circle-animate--bigger {
			@include media('>=lg') {
				transform: rotate(0);
				-webkit-transform: rotate(0);

				transition: transform 0s ease-in-out;
			}
		}

		.rounded-circle-animate--smaller {
			@include media('>=lg') {
				transform: rotate(0);
				-webkit-transform: rotate(0);

				transition: transform 0s ease-in-out;
			}
		}
	}

	&.loading {
		.hero__title {
			animation: titleLoading 1s ease 1s forwards;
			-webkit-animation: titleLoading 1s ease 1s forwards;

			@include media('>=lg') {
				animation: titleLoading 1s ease 2s forwards;
				-webkit-animation: titleLoading 1s ease 2s forwards;
			}

			&::before {
				animation: pulseAnimation 1.5s 1s 2;
				-webkit-animation: pulseAnimation 1.5s 1s 2;

				@include media('>=lg') {
					animation: pulseAnimation 1.5s 2s 2;
					-webkit-animation: pulseAnimation 1.5s 2s 2;
				}
			}
		}

		.hero__description {
			animation: titleLoading 1s ease 2.2s forwards;
			-webkit-animation: titleLoading 1s ease 2.2s forwards;
		}

		.hero__circles {
			@include media('>=lg') {
				top: 30%;
				left: auto;

				width: calc(100vw - 88px);
				height: calc(100vw - 88px);

				transform: translate(0, -50%) scale(0.48);
				-webkit-transform: translate(0, -50%) scale(0.48);
				transform-origin: center center;
				transform-box: fill-box;

				animation: circlesLoadingDesktop 2.7s ease forwards;
				-webkit-animation: circlesLoadingDesktop 2.7s ease forwards;
			}
		}

		.hero__circle {
			&--bigger {
				width: rem(875);
				height: rem(875);

				animation: circleBiggerLoadingMobile 4s ease forwards;
				-webkit-animation: circleBiggerLoadingMobile 4s ease forwards;

				@include media('>=lg') {
					width: rem(650);
					height: rem(650);

					animation: circleBiggerLoadingDesktop 4s ease forwards;
					-webkit-animation: circleBiggerLoadingDesktop 4s ease forwards;
				}
			}

			&--smaller {
				width: rem(561);
				height: rem(561);

				animation: circleSmallerLoadingMobile 4s ease forwards;
				-webkit-animation: circleSmallerLoadingMobile 4s ease forwards;

				@include media('>=lg') {
					width: rem(445);
					height: rem(445);

					animation: circleSmallerLoadingDesktop 4s ease forwards;
					-webkit-animation: circleSmallerLoadingDesktop 4s ease forwards;
				}
			}
		}

		.hero__socials {
			@include media('>=lg') {
				right: rem(-25);

				transition: right 0s ease-in-out;
			}
		}
	}

	&.active {
		.hero__title {
			opacity: 1;
			transform: none;

			&::before {
				display: none !important;
			}
		}

		.hero__description {
			@include media('<=575px') {
				opacity: 1;
				transform: none;
			}
		}
	}

	&__title {
		margin-bottom: 0;
		margin-top: rem(100);

		position: relative;

		user-select: none;
		-webkit-user-select: none;

		opacity: 0;
		transform: translateY(30px);

		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

		@include media('>=sm') {
			margin-left: rem(-5);
			margin-top: 0;
		}

		@include media('>=lg') {
			margin-top: rem(53);
		}

		&::before {
			content: '';
			display: block !important;

			background-image: url("data:image/svg+xml,%0A%3Csvg width='176' height='172' viewBox='0 0 176 172' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.01' d='M87.4906 140.934C118.204 140.934 143.527 116.329 143.527 86.2456C143.527 56.1621 118.183 31.0663 87.4906 31.0663C56.7978 31.0663 31.6745 56.1424 31.6745 86.2456C31.6745 116.349 56.7778 140.934 87.4706 140.934M87.4906 0.0205078C136.235 0.0205078 175.222 38.4693 175.222 86.2456C175.222 134.022 136.235 171.999 87.4906 171.999C38.7467 171.999 0 134.002 0 86.2456C0 38.489 38.7467 0.0205078 87.4906 0.0205078Z' fill='%23EF7D00'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 100%;

			position: absolute;
			left: rem(0);
			top: rem(5);
			z-index: 1;

			width: rem(40);
			height: rem(40);

			border-radius: 50%;

			transition: box-shadow 0.3s ease-in-out;

			@include media('>=400px') {
				left: rem(0);
				top: rem(0);

				width: rem(60);
				height: rem(60);
			}

			@include media('>=sm') {
				width: rem(75);
				height: rem(75);
			}

			@include media('>=md') {
				left: rem(2);
				top: rem(2);

				width: rem(105);
				height: rem(105);
			}

			@include media('>=lg') {
				left: rem(1);
				top: rem(2);

				width: rem(174);
				height: 100%;
			}
		}

		img {
			font-size: 0;

			width: rem(200);
			height: auto;

			user-select: none;

			@include media('>=400px') {
				width: rem(300);
			}

			@include media('>=sm') {
				width: rem(374);
			}

			@include media('>=md') {
				width: rem(550);
			}

			@include media('>=lg') {
				width: rem(873);
			}
		}

		&--after {
			display: none;

			position: absolute;
			top: 0;
			left: 0;

			clip-path: polygon(0 120%, 100% 120%, 101% 50%, 0 50%);
			-webkit-clip-path: polygon(0 120%, 100% 120%, 101% 50%, 0 50%);

			transition: transform 0.2s ease-in-out;

			@include media('>=sm') {
				display: block;
			}
		}

		span:not(.hero__title--after) {
			display: block;

			transition: transform 0.2s ease-in-out;

			@include media('>=sm') {
				clip-path: polygon(0 -20%, 100% -20%, 101% 51%, 0 51%);
				-webkit-clip-path: polygon(0 -20%, 100% -20%, 101% 51%, 0 51%);
			}

			&::first-letter {
				color: $color--secondary;
			}
		}
	}

	&__description {
		margin-bottom: 0;
		margin-top: rem(113);
		width: calc(100% - 51px);

		@include font(25, 32);
		font-family: $font-narrow;
		text-align: center;

		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

		opacity: 0;
		transform: translateY(30px);

		@include media('>=sm') {
			position: absolute;
			top: 50%;
			left: rem(67);

			transform: translateY(-50%);

			margin-top: rem(1);
			width: calc(100vw - 133px);

			@include font(35, 40);
			white-space: nowrap;
			text-transform: uppercase;
			font-style: italic;

			opacity: 0;
			visibility: hidden;
		}

		@include media('>=lg') {
			margin-top: rem(26);
		}
	}

	&__socials {
		position: absolute;
		top: rem(59);
		right: rem(29);

		display: none;
		flex-direction: column;
		align-items: center;
		gap: rem(12);

		margin: 0;
		padding: 0;

		list-style: none;

		transition: right 0.8s ease-in-out;

		@include media('>=lg') {
			display: flex;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;

			width: rem(24);
			height: rem(24);

			border-radius: 50%;
			background-color: $color--light;

			svg {
				width: rem(14.5);

				path {
					transition: color 0.3s ease-in-out;
				}
			}
		}
	}

	&__arrow {
		position: absolute;
		bottom: rem(83);
		left: 50%;

		transform: translateX(-50%);

		opacity: 0;
		visibility: hidden;

		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

		@include media('>=lg') {
			bottom: rem(73);
		}
	}

	&__circles {
		left: 50%;
		top: rem(147);

		transform: translateX(-50%);

		transition: top 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, transform 2.4s ease, opacity 0.3s ease-in-out;

		width: rem(875);
		height: rem(875);

		opacity: 0.4;

		@include media('>=lg') {
			top: rem(101);

			width: calc(100vw - 88px);
			height: calc(100vw - 88px);
		}

	}

	&__circle {
		transition: top 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, transform 2.4s ease;

		&--bigger {
			width: rem(875);
			height: rem(875);

			@include media('>=lg') {
				width: calc(100vw - 88px);
				height: calc(100vw - 88px);
			}
		}

		&--smaller {
			width: rem(561);
			height: rem(561);

			@include media('>=lg') {
				width: calc(100vw - 486px);
				height: calc(100vw - 486px);
			}
		}
	}
}

@keyframes titleLoading {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes titleLoading {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes circlesLoadingDesktop {
	0% {
		top: 30%;
		left: auto;

		transform: translate(0, -50%) scale(0.48);
		-webkit-transform: translate(0, -50%) scale(0.48);
	}
	20% {
		top: 30%;

		transform: translate(0, -50%) scale(0.48);
		-webkit-transform: translate(0, -50%) scale(0.48);
	}
	100% {
		top: rem(101);
		left: auto;

		transform: translate(0, 0) scale(1);
		-webkit-transform: translate(0, 0) scale(1);
	}
}

@-webkit-keyframes circlesLoadingDesktop {
	0% {
		top: 30%;
		left: auto;

		transform: translate(0, -50%) scale(0.48);
		-webkit-transform: translate(0, -50%) scale(0.48);
	}
	20% {
		top: 30%;

		transform: translate(0, -50%) scale(0.48);
		-webkit-transform: translate(0, -50%) scale(0.48);
	}
	100% {
		top: rem(101);
		left: auto;

		transform: translate(0, 0) scale(1);
		-webkit-transform: translate(0, 0) scale(1);
	}
}

@keyframes circleBiggerLoadingDesktop {
	0% {
		width: rem(650);
		height: rem(650);

		transform: rotate(0);
	}
	25% {
		width: rem(650);
		height: rem(650);
	}
	50% {
		width: calc(100vw - 88px);
		height: calc(100vw - 88px);
	}
	100% {
		transform: rotate(150deg);

		width: calc(100vw - 88px);
		height: calc(100vw - 88px);
	}
}

@-webkit-keyframes circleBiggerLoadingDesktop {
	0% {
		width: rem(650);
		height: rem(650);

		transform: rotate(0);
	}
	25% {
		width: rem(650);
		height: rem(650);
	}
	50% {
		width: calc(100vw - 88px);
		height: calc(100vw - 88px);
	}
	100% {
		transform: rotate(150deg);

		width: calc(100vw - 88px);
		height: calc(100vw - 88px);
	}
}

@keyframes circleSmallerLoadingDesktop {
	0% {
		width: rem(445);
		height: rem(445);

		transform: rotate(0);
	}
	25% {
		width: rem(445);
		height: rem(445);
	}
	50% {
		width: calc(100vw - 486px);
		height: calc(100vw - 486px);
	}
	100% {
		transform: rotate(-233deg);

		width: calc(100vw - 486px);
		height: calc(100vw - 486px);
	}
}

@-webkit-keyframes circleSmallerLoadingDesktop {
	0% {
		width: rem(445);
		height: rem(445);

		transform: rotate(0);
	}
	25% {
		width: rem(445);
		height: rem(445);
	}
	50% {
		width: calc(100vw - 486px);
		height: calc(100vw - 486px);
	}
	100% {
		width: calc(100vw - 486px);
		height: calc(100vw - 486px);

		transform: rotate(-233deg);
	}
}

@keyframes circleBiggerLoadingMobile {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(120deg);
	}
}

@-webkit-keyframes circleBiggerLoadingMobile {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(120deg);
	}
}

@keyframes circleSmallerLoadingMobile {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-160deg);
	}
}

@-webkit-keyframes circleSmallerLoadingMobile {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-160deg);
	}
}

@keyframes circleBiggerRoundinfinite {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes circleBiggerRoundinfinite {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes circleSmallerRoundinfinite {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes circleSmallerRoundinfinite {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes pulseAnimation {
	0% {
		box-shadow: 0 0 0 0px rgba(239, 125, 0, 0.6);
	}
	100% {
		box-shadow: 0 0 0 45px rgba(239, 125, 0, 0);
	}
}

@-webkit-keyframes pulseAnimation {
	0% {
		box-shadow: 0 0 0 0px rgba(239, 125, 0, 0.6);

		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 45px rgba(239, 125, 0, 0);

		opacity: 1;
	}
}
