@import '__settings/init';

.accordion {
	&__header {
		margin: 0 0 rem(48);

		text-align: center;
	}
	&__container {
		max-width: 970px;
	}
}

.single-accordion {
	&__row {
		padding: 0;

		margin: 0;
	}
	&__icon {
		width: 16px;
		height: 2px;

		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		background-color: #000;
		&:after {
			content: '';

			display: block;

			width: 16px;
			height: 2px;

			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(-90deg);

			background-color: $color--primary;

			transition: transform .2s ease;
		}
	}
	&__item {
		list-style: none;
		border-top: 1px solid #E4E6EA;
		&:last-of-type {
			border-bottom: 1px solid #E4E6EA;
		}
		[aria-expanded='true'] {
			.single-accordion__icon {
				&:after {
					transform: rotate(0);
				}
			}
		}
	}
	&__header {
		@include font(20,30);
	}
	&__trigger {
		display: block;

		width: 100%;
		padding: rem(30) 0;

		position: relative;

		text-align: left;

		border: 0;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
	}
	&__content {
		padding-bottom: rem(30);
	}
}
