@import '__settings/init';

.contact-map {
	padding: rem(44) 0 rem(0) !important;

	position: relative;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(65) 0 rem(94) !important;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: rem(58);

		@include media('>=lg') {
			flex-direction: row;
			gap: rem(37);
		}
	}

	&__content {
		width: 100%;

		@include media('>=lg') {
			max-width: rem(485);
		}
	}

	&__subtitle {
		margin-bottom: rem(20);
	}

	&__title {
		@include font(40, 42);

		margin-bottom: rem(30);

		i {
			letter-spacing: 0.02em;
		}

		@include media('>=lg') {
			@include font(60, 56);

			margin-bottom: rem(53);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: rem(9);

		&__inner {
			display: flex;
			align-items: center;
			gap: rem(10);
		}
	}

	&__icon {
		width: rem(24);
		min-width: rem(24);
		height: rem(24);
	}

	&__text {
		@include font(20, 30);
		font-weight: 700;
		text-decoration: none;

		@include media('>=400px') {
			white-space: nowrap;
		}
	}


	&__map {
		border-radius: rem(100) 0 0 0;

		overflow: hidden;

		width: calc(100% + 30px);
		height: rem(450);
		margin-right: rem(-15);
		margin-left: rem(-15);

		@include media('>=400px') {
			width: calc(100% + 110px);
			margin-right: rem(-55);
			margin-left: rem(-55);
		}

		@include media('>=lg') {
			max-width: rem(758);
			width: 100%;
			height: rem(450);
			margin-right: rem(-145);
			margin-left: 0;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

}