@import '__settings/init';

.roadmap {
	padding: rem(20) 0 rem(60.5) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	@include media('>=md') {
		padding: rem(72) 0 rem(277) !important;

		border-radius: 0 0 0 rem(210);
	}

	&--simple {
		@include media('>=md') {
			border-radius: 0;
		}
	}

	&__row {
		@include media('<=767px') {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;

			margin-left: rem(25);
		}
	}

	&__list {
		margin: rem(-6) 0 0 0;
		padding: 0;

		list-style: none;

		display: flex;
		flex-direction: column;

		@include media('>=md') {
			margin: 0;
			padding: 0 0 0 rem(42);

			flex-direction: row;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;

		width: 100%;
		height: rem(143);
		padding-left: rem(23);

		position: relative;

		@include media('>=md') {
			height: rem(168);
		}

		&::before {
			content: '';
			display: none;

			position: absolute;

			left: 0;
			bottom: rem(5);

			height: rem(136);
			width: rem(1);

			border-left: rem(1) dashed $color--light;

			@include media('>=md') {
				display: block;
			}
		}

		&::after {
			content: '';
			display: block;

			position: absolute;
			top: rem(5);
			left: rem(-8.5);

			z-index: 1;

			width: rem(16);
			height: rem(16);

			border-radius: 50%;
			border: rem(1) solid $color--secondary;
			background-color: $color--dark;

			@include media('>=md') {
				left: rem(-7.5);
			}
		}

		&:nth-child(even) {
			@include media('>=md') {
				align-self: flex-end;
				justify-content: flex-end;

				height: rem(133);

				top: rem(102);
			}

			&::before {
				@include media('>=md') {
					height: rem(89);
				}
			}

			&::after {
				@include media('>=md') {
					bottom: rem(-16);
					top: auto;
				}
			}

			.roadmap__item__description {
				@include media('>=md') {
					margin-bottom: rem(-51);
				}
			}
		}

		&__title {
			@include font(20, 30);
			font-weight: 700;

			margin-bottom: rem(7);
		}

		&__description {
			@include font(15, 20);
		}
	}

	&__line {
		width: rem(1);

		border-right: rem(1) dashed $color--light;

		position: relative;

		@include media('>=md') {
			width: 100%;
			height: rem(1);

			background-color: $color--light;
			border-right: none;
		}

		&::after {
			content: '';
			display: block;

			position: absolute;
			left: 50%;
			bottom: rem(-1);

			transform: translateX(-50%) rotate(90deg);

			background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.321617 11.932C0.418681 11.9825 0.527662 12.0056 0.636863 11.9988C0.746063 11.9921 0.851359 11.9557 0.941449 11.8936L8.74186 6.49334C8.82156 6.43812 8.8867 6.3644 8.93169 6.2785C8.97668 6.1926 9.00018 6.09708 9.00018 6.00011C9.00018 5.90315 8.97668 5.80762 8.93169 5.72172C8.8867 5.63583 8.82156 5.56211 8.74186 5.50689L0.941449 0.106603C0.851429 0.0443156 0.746084 0.00784106 0.636822 0.00112912C0.527559 -0.00558283 0.418542 0.0177236 0.321575 0.0685248C0.224607 0.119326 0.143385 0.195686 0.0867027 0.289337C0.0300201 0.382988 3.69519e-05 0.490361 8.15029e-09 0.599829V11.4004C-1.80414e-05 11.5099 0.0299434 11.6174 0.0866369 11.7111C0.14333 11.8048 0.224593 11.8812 0.321617 11.932Z' fill='white'/%3E%3C/svg%3E%0A");

			width: rem(9);
			height: rem(12);

			@include media('>=md') {
				left: auto;
				right: 0;
				top: 50%;
				bottom: auto;

				transform: translateY(-50%);
			}
		}
	}

	& + .full-screen-image {
		@include media('>=md') {
			margin-top: rem(-199);
		}
	}
}
