.btn-menu {
	display: block;

	width: rem(55);
	height: rem(55);

	position: relative;
	transform: rotate(0deg);

	border: 0;
	background: transparent;
	box-shadow: none;
	cursor: pointer;

	transition: .25s ease-in-out;

	@include media('>=md') {
		display: none;
	}

	@include media('<=991px') {
		pointer-events: all;
	}

	span {
		display: block;

		width: rem(15);
		height: rem(15);

		position: absolute;
		left: 0;
		transform: rotate(0deg) translateY(-50%);

		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: $color--secondary;
		opacity: 1;

		transition: transform .15s ease-in-out;

		top: 50%;

		&:nth-child(1) {
			left: 0;
		}

		&:nth-child(2) {
			left: 50%;
			transform: rotate(0deg) translateY(-50%) translateX(-50%);
		}

		&:nth-child(3) {
			right: 0;
			left: unset;
		}

	}

	&[aria-expanded='true'] {
		span {
			width: 53%;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			height: rem(4);

			&:nth-child(1) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(2) {
				width: 0;

				opacity: 0;
			}

			&:nth-child(3) {
				top: 50%;
				left: 50%;
				right: unset;
				transform: translate(-50%, -50%) rotate(-45deg);
			}

		}
	}
}