.main-header {
	padding: rem(15) 0 0 0;

	position: fixed;
	left: 0;
    right: 0;
    top: 0;

	z-index: 4;

	color: $color--light;

	@include media('>=md') {
		padding: 0 rem(20);

		background: $color--dark;

		position: sticky;
		top: 0;
		left: auto;
		right: auto;
	}

	@include media('>=lg') {
		padding: 0 rem(38);
	}

	@include media('<=991px') {
		pointer-events: none;
	}

	&.open {
		background: $color--dark;

		pointer-events: all;
	}

	&.loading {
		.container {
			top: rem(-70);

			@include media('>=md') {
				top: rem(-100);

			}

			transition: top 0s ease-in-out;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;

		transition: top 1s ease-in-out;

		position: relative;
		top: 0;

		@include media('>=md') {
			justify-content: space-between;
		}

		@include media('<=991px') {
			padding: 0 rem(35);
		}
	}

	&__logo {
		display: none;
		flex: 0 0 auto;

		max-width: rem(119);
		padding: rem(15) 0;

		@include media('>=md') {
			display: block;
		}

		@include media('>=xl') {
			margin-left: rem(8);
		}
	}

	.main-logo {
		color: $color--light;
		background: none;
	}

	&__languages {
		display: flex;
		align-items: center;
		gap: rem(3);

		margin-left: rem(16);

		a {
			display: flex;

			@include font(15, 20);
			font-family: $font-narrow;
			color: $color--light;
			text-decoration: none;

			transition: color 0.3s ease-in-out;

			&.active {
				color: $color--secondary;
			}

			&:hover {
				color: $color--secondary;
				
			}
		}
	}

	&__nav {
		@include media('<md') {
			display: none;
		}
		@include media('>=md') {
			display: flex;
			align-items: center;
			flex: 0 0 auto;

			max-width: calc(100% - 100px);
		}
	}
	&__desktop-nav,
	&__mobile-nav {
		padding: 0;

		z-index: 9;

		text-align: center;

		@include font(15, 20);
	}

	&__mobile {
		height: calc(var(--height) - 70px);

		display: flex;
		flex-direction: column;

		overflow-y: auto;

		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

		opacity: 0;
		visibility: hidden;

		padding: 0 0 rem(30) 0;

		position: absolute;
		top: 100%;
		right: 0;
		left: 0;

		background: $color--dark;

		@include media('>=md') {
			display: none;
		}

		&[hidden] {
			display: flex;

			opacity: 0;
			visibility: hidden;

			@include media('>=md') {
				display: none;
			}
		}

		&.open {
			opacity: 1;
			visibility: visible;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			align-items: center;

			padding: 0 rem(20);
		}

		&__logo {
			width: rem(172);
			margin-bottom: rem(91);

			&::first-letter {
				color: $color--secondary;
			}

			a {
				text-decoration: none;
				font-weight: 700;

				img {
					width: 100%;
				}
			}
		}

		&__nav {
			display: flex;
			flex-direction: column;
			gap: rem(49);

			width: calc(100% - 30px);

			.menu {
				display: flex;
				flex-direction: column;
				gap: rem(49);
			}

			.menu-item {
				margin: 0 !important;

				a {
					margin: 0 !important;
					padding: 0 !important;

					@include font(30, 30);

					display: flex !important;
					align-items: center;
					gap: rem(7);

					&::before {
						border-color: $color--secondary !important;
						border-width: rem(1.3) !important;
						position: relative !important;
						left: 0 !important;
						top: 0 !important;
					}
				}
			}
		}

		&__languages {
			display: flex;
			align-items: center;
			gap: rem(19);

			margin-top: rem(93);
			margin-bottom: rem(20);

			a {
				border: rem(1) solid $color--light;

				padding: rem(9);

				@include font(18, 20);
				font-family: $font-narrow;
				color: $color--light;
				text-decoration: none;

				transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

				&.active {
					background-color: $color--light;
					color: $color--secondary;
				}

				&:hover {
					background-color: $color--light;
					color: $color--secondary;
				}
			}
		}

		&__socials {
			margin: auto 0 0 0;
			padding: 0;

			list-style: none;

			display: flex;
			align-items: flex-start;
			gap: rem(23);
			align-self: flex-end;

			margin-right: rem(41);

			a {
				border-radius: 50%;
				border: rem(1.3) solid $color--light-gray;

				display: flex;
				align-items: center;
				justify-content: center;

				width: rem(31);
				height: rem(31);

				svg {
					filter: invert(1);

					width: rem(17);
				}
			}
		}
	}

	.menu-item {
		display: block;

		position: relative;
		margin: 0 rem(9);

		@include media('>=md') {
			display: inline-block;

			padding: rem(15) 0;
		}

		@include media('>=md') {
			padding: rem(23) 0;
		}

		> a {
			vertical-align: middle;

			color: $color--light;

			background: none;

			@include media('<md') {
				display: inline-block;

				margin: rem(10) 0;
			}
		}

		a {
			padding-right: rem(14);
			padding-left: rem(14);

			@include circle-before(7px, 7px);

			&:before {
				border-color: transparent;

				transition: border-color $transition;
			}
		}

		&.current-menu-parent > a,
		&.current_page_parent > a,
		&.current-menu-item > a,
		> a:focus,
		> a:hover {
			&:before {
				border-color: $color--secondary;
			}
		}

		& + & {
			@include media('>=md') {
				margin-left: rem(32);
			}
		}
		&__dropdown {
			width: rem(30);
			height: rem(30);
			padding: 0;

			position: relative;
			margin: 0 0 0 rem(5);
			vertical-align: middle;

			border: 0;
			border-radius: 50%;
			background: transparent;
		}
		&__icon {
			display: block;

			width: 0;
			height: 0;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			border-width: rem(8) rem(6) 0 rem(6);
			border-style: solid;
			border-color: currentColor transparent transparent transparent;
		}
		&__submenu {
			.menu-item {
				padding: 0;

				margin: 0 0 rem(10);
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.menu > .menu-item > .menu-item__submenu {
		@include media('<md') {
			padding: rem(20) 0;

			border-top: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
		}
		@include media('>=md') {
			display: flex;
			flex-direction: column;

			width: auto;
			min-width: 200px;
			padding: rem(10) rem(20);

			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);

			background: $color--dark;
		}
		.menu-item__submenu {
			padding: rem(10) 0;
		}
	}

	&__mobile-nav {
		.menu-item a:before {
			top: rem(6);
		}
	}
}