@import '__settings/init';

.portfolio-slider {
	padding: rem(89) 0 rem(79) !important;

	color: $color--light;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(45) 0 rem(131) !important;
	}

	&__title {
		@include font(20, 23);
		letter-spacing: 0.01em;
		font-family: $font-narrow;

		margin-bottom: rem(68);

		@include media('>=lg') {
			padding-left: rem(230);
			margin-bottom: rem(31);
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;

		@include media('>=400px') {
			margin: rem(0) rem(-33);
		}

		@include media('>=lg') {
			margin: 0;
		}

		.splide__track {
			overflow: unset;
		}

		.splide__arrows {
			@include media('>=lg') {
				right: rem(3);
			}
		}

	}

	&__item {
		box-sizing: content-box;
		transition: width 0.3s ease-in-out;

		@include media('>=lg') {
			width: calc(100vw - 500px) !important;
			max-width: rem(526);

			&:hover {
				width: calc(100vw - 400px) !important;
				max-width: rem(600);
			}
		}

		&:first-child {
			@include media('>=lg') {
				margin-left: rem(230);
			}
		}

		&__link {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			height: rem(489);
			min-height: rem(489);
			padding: rem(22) rem(30);
			border-radius: 0;

			position: relative;

			overflow: hidden;

			color: $color--light !important;
			text-decoration: none;

			transition: height 0.3s ease-in-out;

			@include media('>=400px') {
				padding: rem(32) rem(42);
			}

			@include media('>=lg') {
				height: rem(434);
				min-height: rem(434);
				padding: rem(29) rem(42);
				border-radius: rem(4);

				&:hover {
					height: rem(550);
				}
			}
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 100%;
			height: 100%;
			transition: height 0.3s ease-in-out,
						width 0.3s ease-in-out;

			&::before {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				background-color: rgba(0, 0, 0, 0.2);
			}

			&::after {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;

				background: linear-gradient(360deg, rgba(0, 0, 0, 0.45) 60.74%, rgba(0, 0, 0, 0) 100%);

				width: 100%;
				height: rem(121);
			}

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}

		&__title {
			font-family: $font-narrow;
			font-style: italic;
			letter-spacing: 0.02em;

			margin-bottom: rem(19);

			@include media('>=lg') {
				margin-bottom: rem(10);
			}
		}

		&__description {
			@include font(15, 20);

			@include media('>=lg') {
				@include font(16, 20);
				font-weight: 700;
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		margin-top: rem(110);

		@include media('>=lg') {
			justify-content: flex-start;

			margin-left: rem(230);
			margin-top: rem(62);
			padding: rem(15) rem(36);
		}
	}

}