@import '__settings/init';

.logos {
	padding: rem(31) 0 rem(60) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(138) 0 rem(190) !important;
	}

	&__title {
		@include font(40, 42);
		font-family: $font-narrow;
		letter-spacing: 0.02em;

		margin-bottom: rem(85);

		@include media('>=lg') {
			@include font(60, 69);
			letter-spacing: 0.01em;

			margin-bottom: rem(70);
		}
	}

	&__slider {
		max-width: rem(1136);
		padding: 0;

		.splide__arrows {
			display: none;

			@include media('>=lg') {
				display: flex;

				right: rem(110);
				bottom: rem(-106);
			}
		}

		.splide__arrow {
			color: $color--dark;

			&:hover {
				color: $color--secondary;
			}
		}

		.splide__list {
			@include media('<=991px') {
				display: flex !important;
				flex-wrap: wrap;
				gap: rem(60) rem(50);
			}

			@include media('<=399px') {
				gap: rem(40) rem(30);
			}
		}

		.splide__slide:not(.logos__slide) {
			@include media('>=lg') {
				overflow: hidden;
			}

			.splide__slide__row {
				transition: transform 1.3s ease-in-out;

				&:first-child {
					@include media('>=lg') {
						transform: translateY(-100%);
					}

					&.animate {
						@include media('>=lg') {
							transform: translateY(0);
						}
					}
				}

				&:last-child {
					@include media('>=lg') {
						transform: translateY(100%);
					}

					&.animate {
						@include media('>=lg') {
							transform: translateY(0);
						}
					}
				}
			}
		}
	}

	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(7);

		width: calc(33.333% - 20px);

		@include media('>=400px') {
			width: calc(33.333% - 33.333px);
		}

		@include media('>=lg') {
			width: auto;
		}
	}

	&__image {
		max-width: rem(79);
		width: 100%;
		height: auto;

		display: flex;
		align-items: center;

		@include media('>=400px') {
			max-width: unset;
		}

		@include media('>=lg') {
			width: rem(127);
			height: rem(56);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__caption {
		@include font(15, 20);
	}
}
