@import '__settings/init';

.project-single-slider {
	padding: rem(91) 0 rem(183) !important;

	color: $color--light;

	overflow: hidden;

	position: relative;

	@include media('>=lg') {
		padding: rem(136) 0 rem(212) !important;
	}

	&::before {
		content: '';
		display: block;

		position: absolute;
		right: rem(-373);
		top: rem(123);

		background-image: url("data:image/svg+xml,%3Csvg width='677' height='677' viewBox='0 0 677 677' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.09' d='M554.401 338.993C554.401 220.568 457.726 122.82 339.458 122.82C221.191 122.82 122.648 220.568 122.648 338.993C122.648 457.418 221.198 554.228 339.458 554.228C457.718 554.228 554.401 457.41 554.401 338.993ZM0.630845 338.993C0.630836 151.013 151.741 0.630434 339.458 0.630437C527.176 0.630439 676.411 151.013 676.411 338.993C676.411 526.973 527.168 676.411 339.458 676.411C151.748 676.411 0.630853 526.973 0.630845 338.993Z' fill='%23EF7D00'/%3E%3C/svg%3E%0A");

		width: rem(677);
		height: rem(677);

		@include media('>=lg') {
			right: rem(94);
			top: rem(160);
		}
	}

	&__title {
		@include font(40, 42);

		margin-bottom: rem(27);
		width: calc(100% - 5px);

		@include media('>=lg') {
			@include font(60, 69);
			font-family: $font-narrow;
			letter-spacing: 0.01em;

			width: auto;
			margin-bottom: rem(20);
		}
	}

	&__description {
		max-width: rem(615);
		margin-bottom: rem(83);

		@include media('>=lg') {
			margin-bottom: rem(103);

			@include font(18, 23);
		}
	}

	&__row {
		@include media('>=400px') {
			margin-left: rem(-3);
		}

		@include media('>=lg') {
			margin-left: 0;
		}
	}

	&__categories {
		display: flex;
		flex-wrap: wrap;
		gap: rem(40);

		margin: 0 0 rem(54) rem(-2);
		padding: 0;

		list-style: none;

		z-index: 1;
		position: relative;

		@include media('>=lg') {
			margin: 0 0 rem(54) 0;
		}
	}

	&__category {
		@include font(20, 20);

		transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;

		cursor: pointer;

		background-image: linear-gradient(currentColor, currentColor);
		background-repeat: no-repeat;
		background-size: 0% 1px;
		background-position: 100% 100%;

		&.active {
			color: $color--secondary;

			background-position: 0 100%;
			background-size: 100% 1px;
		}

		&:hover {
			color: $color--secondary;

			background-position: 0 100%;
			background-size: 100% 1px;
		}
	}

	&__content {
		margin: 0;
		padding: 0;

		@include media('>=400px') {
			margin: 0;
		}

		@include media('>=lg') {
			margin: 0;
		}

		&-tab {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;

		.splide__track {
			overflow: unset;
		}

		.splide__arrows {
			right: rem(-5);

			@include media('>=lg') {
				right: rem(-6);
			}

			@include media('<=991px') {
				bottom: rem(-112);
			}
		}

		.splide__pagination {
			bottom: rem(-91);
			left: 0;
			right: auto;

			padding: 0;

			@include media('>=lg') {
				bottom: rem(-95);
			}
		}

	}

	&__item {
		@include media('>=lg') {
			width: calc(100vw - 656px) !important;
			max-width: rem(784);
		}

		&__image {
			width: 100%;
			height: rem(434);

			box-sizing: content-box;

			border-radius: rem(4) 0 0 rem(4);

			overflow: hidden;

			@include media('>=lg') {
				height: rem(434);

				border-radius: rem(4);
			}

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}

		&__text {
			@include font(16, 20);
			font-weight: 700;

			margin-top: rem(21);
			margin-bottom: 0;
		}
	}

	&.style-bg--white {
		color: $color--dark;

		.splide__arrow {
			color: $color--secondary;

			&:hover {
				color: $color--dark;
			}
		}
	}
}
