@import '__settings/init';

.full-screen-video {
	padding: rem(39) 0 rem(21) !important;

	@include media('>=lg') {
		padding: rem(74) 0 rem(96) !important;
	}

	&__video {
		position: relative;

		overflow: hidden;

		display: flex;
		align-items: flex-end;
		justify-content: center;

		@include media('>=sm') {
			align-items: center;
		}

		&::before {
			content: '';

			display: block;

			position: absolute;
			top: rem(225);
			left: rem(-286);

			z-index: 1;

			width: rem(500);
			height: rem(500);

			background-image: url("data:image/svg+xml,%3Csvg width='1001' height='1001' viewBox='0 0 1001 1001' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M499.8 820.273C675.217 820.273 820.006 677.073 820.006 501.889C820.006 326.705 675.217 180.739 499.8 180.739C324.383 180.739 180.983 326.716 180.983 501.889C180.983 677.061 324.394 820.273 499.8 820.273ZM499.8 0C778.246 0 1001 223.832 1001 501.889C1001 779.945 778.246 1001 499.8 1001C221.355 1001 0 779.934 0 501.889C0 223.843 221.355 0 499.8 0Z' fill='%23EF7D00' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;

			pointer-events: none;

			@include media('>=sm') {
				top: rem(-25);
				left: rem(-206);

				width: rem(700);
				height: rem(700);
			}

			@include media('>=lg') {
				width: rem(1001);
				height: rem(1001);
			}
		}

		&::after {
			content: '';
			display: block;
			padding-bottom: 121.09302325581396%;

			@include media('>=sm') {
				padding-bottom: 41.666666666666664%;
			}
		}

		&.active {
			.full-screen-video__button {
				display: none;
			}

			&.pause {
				.full-screen-video__button {
					display: flex;
				}
			}
		}

		iframe {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			pointer-events: none;

			overflow: hidden;
			transform: scale(2.7);

			@include media('>=sm') {
				transform: scale(1.349);
			}
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(10);

		padding: rem(7) rem(22);
		margin: 0 0 rem(37) 0;


		background-color: transparent;

		border: rem(1) solid $color--light;
		border-radius: rem(40);

		overflow: hidden;

		z-index: 1;
		position: relative;

		@include font(18, 40);
		letter-spacing: 0.04em;
		color: $color--light;

		@include media('>=sm') {
			gap: 0;

			width: rem(76);
			height: rem(76);
			padding: 0;
			margin: 0;

			background: rgba(0, 0, 0, 0.06);

			border: none;
			border-radius: 50%;
		}

		&:hover {
			&::before {
				transform: rotate(60deg);
			}
		}

		&::before {
			content: '';
			display: none;

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			border: rem(1) dashed $color--dark;
			border-radius: 50%;

			overflow: hidden;

			transition: transform 0.5s ease-in-out;

			@include media('>=sm') {
				display: block;
			}
		}

		span {
			@include media('>=sm') {
				display: none;
			}
		}

		svg {
			width: rem(15);

			@include media('>=sm') {
				margin-left: rem(4);

				width: auto;
			}

			path {
				fill: $color--secondary;

				@include media('>=sm') {
					fill: $color--dark
				}
			}
		}
	}

	&__popup {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 5;

		width: 100%;
		height: 100%;

		display: none;
		justify-content: center;
		align-items: center;

		&.active {
			display: flex;
		}

		&__close {
			position: absolute;
			z-index: 2;
			right: rem(20);
			top: rem(20);
			width: rem(30);
			height: rem(30);

			cursor: pointer;

			svg {
				fill: $color--light;
			}
		}

		&__overlay {
			background: rgba(0, 0, 0, 0.86);

			position: fixed;
			z-index: 1;

			width: 100%;
			height: 100%;
		}

		&__inner {
			position: relative;
			z-index: 1;

			width: 90%;
			height: 80%;

			@include media('>=sm') {
				height: 100%;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}