@import '__settings/init';

.realisations {
	padding: rem(80) 0 rem(36) !important;

	@include media('>=lg') {
		padding: rem(96) 0 rem(52) !important;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		position: relative;

		@include media('>=lg') {
			flex-direction: row;
			gap: rem(60);

			margin-left: rem(-10);
		}

		&--block {
			@include media('>=xxl') {
				gap: rem(111);
			}
		}

		&--no-image {
			.realisations__right--block {
				@include media('>=lg') {
					margin-top: rem(-35);
				}
			}
		}
	}

	&__image {
		width: calc(100% - 7px);

		border-radius: rem(100) 0 0 0;

		overflow: hidden;

		position: relative;

		@include media('>=lg') {
			min-width: rem(352);
			width: rem(352);
			height: rem(388);
		}

		&::after {
			content: '';
			display: block;
			padding-bottom: 110.22364217252397%;

			@include media('>=lg') {
				display: none;
			}
		}

		&.animate {
			img {
				transform: translateY(0);
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;

			transition: transform 1.8s ease-in-out;

			@include media('>=lg') {
				position: relative;
				left: auto;
				top: auto;

				transform: translateY(100%);
			}
		}
	}

	&__right {
		width: 100%;
		margin-top: rem(40);

		@include media('>=lg') {
			margin-top: 0;
		}

		&--block {
			@include media('>=lg') {
				max-width: rem(506);
				margin-top: rem(126);
			}

			.realisations__bottom {
				@include media('>=lg') {
					margin-left: 0;
				}
			}

			.realisations__description {
				@include media('>=lg') {
					max-width: unset;
				}
			}

			.realisations__title {
				@include media('>=lg') {
					margin-bottom: rem(42);
				}
			}
		}
	}

	&__subtitle {
		margin-bottom: rem(15);
	}

	&__title {
		@include font(40, 42);

		margin-bottom: rem(30);

		@include media('>=lg') {
			@include font(60, 56);

			margin-bottom: rem(53);
		}

		br {
			display: none;
		}
	}

	&__bottom {
		display: flex;
		gap: rem(22);

		@include media('>=lg') {
			align-items: center;

			margin-left: rem(-171);
		}
	}

	&__video {
		width: calc(100% - 92px);

		margin-top: rem(-107);
		margin-right: rem(-15);
		margin-left: auto;

		position: relative;

		overflow: hidden;

		@include media('>=400px') {
			margin-right: rem(-16);
		}

		@include media('>=lg') {
			width: rem(298);

			margin-top: 0;
			margin-right: 0;
			margin-left: 0;

			height: rem(329);
		}

		&--block {
			@include media('>=lg') {
				min-width: rem(298);

				margin-top: rem(266);
				margin-left: rem(-220);
			}
		}

		&::after {
			content: '';
			display: block;
			padding-bottom: 110.5263157894737%;

			@include media('>=lg') {
				display: none;
			}
		}

		&.animate {
			img {
				transform: translateY(0);
			}

			video {
				transform: translateY(0);
			}
		}

		video {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;

			transition: transform 1.8s ease-in-out;

			@include media('>=lg') {
				position: relative;
				left: auto;
				top: auto;

				transform: translateY(100%);
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;

			transition: transform 1.8s ease-in-out;

			@include media('>=lg') {
				transform: translateY(100%);
			}
		}

		&.desktop {
			display: none;

			@include media('>=lg') {
				display: block;
			}
		}

		&.mobile {
			display: block;

			@include media('>=lg') {
				display: none;
			}
		}
	}

	&__description {
		margin-right: rem(34);

		@include media('>=lg') {
			max-width: rem(286);
			width: 100%;

			margin-top: rem(8);
			margin-right: 0;
		}

		p:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}