@import '__settings/init';

// Buttons styles
.wp-block-buttons {
	margin: rem(40) auto;
	&.aligncenter {
		justify-content: center;
	}
}

.wp-block-button {
	@include font(18, 22);

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: auto;
		padding: rem(15) rem(22);

		text-align: left;
		color: $color--light;

		border: 1px solid $color--light;
		background: $color--dark;

		transition: background-color $transition, color $transition, border-color $transition;

		svg {
			margin-right: rem(9);

			color: $color--secondary;

			transition: color $transition;
		}

		&:hover,
		&:focus {
			color: $color--light;

			border-color: $color--secondary;
			background-color: $color--secondary;

			svg {
				color: $color--primary;
			}
		}
	}
	&.is-style-outline {
		.wp-block-button__link {
			color: currentColor;

			border-color: $color--link;
		}
	}

	&.disabled {
		.wp-block-button__link {
			background: rgba(0, 0, 0, 0.4);
			color: $color--light;

			pointer-events: none;
			user-select: none;
		}
	}
}