@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/Theinhardt-Regular.woff2') format('woff2'),
		 url('../fonts/Theinhardt-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/Theinhardt-Black.woff2') format('woff2'),
		 url('../fonts/Theinhardt-Black.woff') format('woff');
	font-display: swap;
	font-weight: 900;
}