.cf7 {
    &-form-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        & + .wpcf7-response-output {
            border: none !important;
            @include font(18, 22);
            padding: 0 !important;
        }
    }

    &-input-row {
        &--select {
            position: relative;

            &::before {
                content: '';
                display: block;

                position: absolute;
                bottom: rem(9);
                right: rem(20);
                z-index: 1;

                width: rem(24);
                height: rem(24);

                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 14.975C11.8667 14.975 11.7377 14.95 11.613 14.9C11.4877 14.85 11.3834 14.7834 11.3 14.7L6.70005 10.1C6.51672 9.91672 6.42505 9.68338 6.42505 9.40005C6.42505 9.11671 6.51672 8.88338 6.70005 8.70005C6.88338 8.51672 7.11672 8.42505 7.40005 8.42505C7.68338 8.42505 7.91672 8.51672 8.10005 8.70005L12 12.6L15.9 8.70005C16.0834 8.51672 16.3167 8.42505 16.6 8.42505C16.8834 8.42505 17.1167 8.51672 17.3 8.70005C17.4834 8.88338 17.575 9.11671 17.575 9.40005C17.575 9.68338 17.4834 9.91672 17.3 10.1L12.7 14.7C12.6 14.8 12.4917 14.8707 12.375 14.912C12.2584 14.954 12.1334 14.975 12 14.975Z' fill='black'/%3E%3C/svg%3E%0A");
            }
        }

        &--checkbox {
            user-select: none;

            .wpcf7-list-item {
                @include font(15, 20);

                margin: 0;

                label {
                    .wpcf7-list-item-label {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: rem(9);

                        position: relative;

                        &::before {
                            content: '';
                            display: block;

                            width: rem(20);
                            min-width: rem(20);
                            height: rem(20);
                            margin-top: rem(6);

                            background-color: $color--light-gray;

                        }

                        &::after {
                            content: '';
                            display: block;

                            position: absolute;
                            left: rem(4);
                            top: rem(1);

                            width: rem(15);
                            min-width: rem(15);
                            height: rem(22);

                            border-bottom: rem(3) solid currentColor;
                            border-right: rem(3) solid currentColor;
                            border-color: $color--secondary;

                            transform: rotate(45deg);

                            opacity: 0;

                            transition: opacity 0.3s ease-in-out;
                        }
                    }

                    input {
                        position: absolute;
                        z-index: -1;
                        visibility: hidden;

                        &:checked + .wpcf7-list-item-label {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }


                }
            }
        }

        label {
            display: flex;
            flex-direction: column;
            gap: rem(5);

            @include font(15, 20);
        }
    }

    &-input-submit-row {
        margin-top: rem(8);

		@include media('>=lg') {
            margin-top: rem(15);
        }
    }
}

.wpcf7 {
    &-select {
        border: none;
        border-radius: 0;

        background-color: $color--light;
        color: $color--dark;

        width: 100%;
        padding: rem(15) rem(19);

        appearance: none;
    }

    input {
        width: 100%;
        padding: rem(12) rem(17);

        &::placeholder, &:focus::-webkit-input-placeholder, &::-webkit-input-placeholder {
            opacity: 1;
            color: $color--dark;
        }
    }

    textarea {
        width: 100%;
        height: rem(167);
        padding: rem(12) rem(17);

        &::placeholder, &:focus::-webkit-input-placeholder, &::-webkit-input-placeholder {
            opacity: 1;
            color: $color--dark;
        }
    }

    &-not-valid-tip {
        margin-top: rem(5);

        color: $color--secondary;
    }

    &-response-output {
        @include font(12, 20);
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-color: $color--secondary !important;
    }
}