:root {
	--transition-timing-function: ease-in-out;

	--transition-speed: .2s;
	@media (prefers-reduced-motion: reduce) {
		--transition-timing-function: linear;

		--transition-speed: 0s;
	}
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline: 3px solid $color--focus !important;
	outline-offset: 2px;
}

::selection {
	color: #ffffff !important;

	background: #000000 !important;
}
::-moz-selection {
	color: #ffffff;

	background: #000000;
}

html {
	font-size: 1rem;
	line-height: 1.5;

	-webkit-text-size-adjust: 100%;
}

body {
	@include media('>=md') {
		font-size: $font-size-desktop;
		line-height: $line-height-desktop;
	}
	&.using-mouse :focus {
		outline: none !important;
	}

	&.no-scroll {
		height: 100% !important;
    	overflow: hidden !important;

		&.menu-open {
			position: fixed;
		}
	}
}

body,
button,
a,
input,
select,
textarea {
	font-family: $font-base;
}

a,
button,
input,
select,
textarea {
	&:focus {
		outline: none;

		html.user-tab-nav & {
			outline: $outline;
			outline-offset: 0;
		}
	}
}

.page-content {
	// padding-top: rem(40);
	// padding-bottom: rem(40);
}

input,
select,
textarea {
	max-width: 100%;
}

figure {
	margin: 0;
}

img,
svg {
	height: auto;
	max-width: 100%;

	vertical-align: middle;
}

nav {
	ul {
		padding: 0;

		margin: 0;

		list-style: none;
	}
	li {
		display: inline-block;
		> a {
			text-decoration: none;
		}
	}
}

.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	display: none;
}

.dashed-line {
	display: block;

	height: rem(2);

	background-image: url('../images/svg/line-dashed.svg');
	background-repeat: repeat-x;
	background-size: auto;
}

.parentline {
	overflow-y: hidden;
}

.style-bg--black {
	background-color: $color--dark;
	color: $color--light;

	& + .style-bg--black {
		padding-top: rem(14);
	}
}

.section-subtitle {
	color: $color--secondary;
	@include font(20, 30);
	margin-bottom: rem(20);

	@include media('>=md') {
		margin-bottom: rem(10);
	}
}

.section_list_buttons {
	display: flex;
	flex-direction: column;
	row-gap: rem(23);
}

.rounded-circles-animate {
	position: absolute;

	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(875);
	height: rem(875);

	@include media('>=md') {
		top: rem(183);

		width: rem(1300);
		height: rem(1300);
	}
}

.rounded-circle-animate {
	position: absolute;

	// transition: transform 2.4s ease;

	svg {
		width: 100%;
		height: 100%;
	}

	&--bigger {
		width: rem(875);
		height: rem(875);

		@include media('>=md') {
			width: rem(1300);
			height: rem(1300);
		}

		// &.animate {
			// transform: rotate(50deg);

			// transition: transform 2.4s ease;
		// }
	}

	&--smaller {
		width: rem(555);
		height: rem(555);

		@include media('>=md') {
			width: rem(890);
			height: rem(890);
		}

		// &.animate {
		// 	// transform: rotate(-50deg);

		// 	transition: transform 2.4s ease;
		// }
	}
}

// .rounded-circles-animate-scroll {
// 	.rounded-circle-animate--bigger {
// 		&.animate {
// 			@include media('>=lg') {
// 				transition: transform 3s ease;
// 			}
// 		}
// 	}

// 	.rounded-circle-animate--smaller {
// 		&.animate {
// 			@include media('>=lg') {
// 				transition: transform 3s ease;
// 			}
// 		}
// 	}

// 	&.scroll-down-default.scroll-down {
// 		.rounded-circle-animate--bigger {
// 			@include media('>=lg') {
// 				transform: rotate(0);
// 				-webkit-transform: rotate(0);

// 				transition: transform 0s ease-in-out;
// 			}
// 		}

// 		.rounded-circle-animate--smaller {
// 			@include media('>=lg') {
// 				transform: rotate(0);
// 				-webkit-transform: rotate(0);

// 				transition: transform 0s ease-in-out;
// 			}
// 		}
// 	}

// 	&.scroll-down {
// 		.rounded-circle-animate--bigger {
// 			@include media('>=lg') {
// 				animation: circleBiggerRoundinfinite 4s forwards linear;
// 				-webkit-animation: circleBiggerRoundinfinite 4s forwards linear;
// 			}
// 		}

// 		.rounded-circle-animate--smaller {
// 			@include media('>=lg') {
// 				animation: circleSmallerRoundinfinite 4s forwards linear;
// 				-webkit-animation: circleSmallerRoundinfinite 4s forwards linear;
// 			}
// 		}
// 	}
// }

// @keyframes circleBiggerRoundinfinite {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	65% {
// 		transform: rotate(56.7deg);
// 	}
// 	76% {
// 		transform: rotate(63.7deg);
// 	}
// 	85% {
// 		transform: rotate(67.2deg);
// 	}
// 	93% {
// 		transform: rotate(69.3deg);
// 	}
// 	100% {
// 		transform: rotate(70deg);
// 	}
// }

// @-webkit-keyframes circleBiggerRoundinfinite {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	65% {
// 		transform: rotate(-56.7deg);
// 	}
// 	76% {
// 		transform: rotate(-63.7deg);
// 	}
// 	85% {
// 		transform: rotate(-67.2deg);
// 	}
// 	93% {
// 		transform: rotate(-69.3deg);
// 	}
// 	100% {
// 		transform: rotate(-70deg);
// 	}
// }

// @keyframes circleSmallerRoundinfinite {
// 	0% {
// 		transform: rotate(0deg);
// 		-webkit-transform: rotate(0deg);
// 	}
// 	65% {
// 		transform: rotate(-56.7deg);
// 		-webkit-transform: rotate(-56.7deg);
// 	}
// 	76% {
// 		transform: rotate(-63.7deg);
// 		-webkit-transform: rotate(-63.7deg);
// 	}
// 	85% {
// 		transform: rotate(-67.2deg);
// 		-webkit-transform: rotate(-67.2deg);
// 	}
// 	93% {
// 		transform: rotate(-69.3deg);
// 		-webkit-transform: rotate(-69.3deg);
// 	}
// 	100% {
// 		transform: rotate(-70deg);
// 		-webkit-transform: rotate(-70deg);
// 	}
// }

// @-webkit-keyframes circleSmallerRoundinfinite {
// 	0% {
// 		transform: rotate(0deg);
// 		-webkit-transform: rotate(0deg);
// 	}
// 	65% {
// 		transform: rotate(-56.7deg);
// 		-webkit-transform: rotate(-56.7deg);
// 	}
// 	76% {
// 		transform: rotate(-63.7deg);
// 		-webkit-transform: rotate(-63.7deg);
// 	}
// 	85% {
// 		transform: rotate(-67.2deg);
// 		-webkit-transform: rotate(-67.2deg);
// 	}
// 	93% {
// 		transform: rotate(-69.3deg);
// 		-webkit-transform: rotate(-69.3deg);
// 	}
// 	100% {
// 		transform: rotate(-70deg);
// 		-webkit-transform: rotate(-70deg);
// 	}
// }