.container {
	width: 100%;
	max-width: $container-mobile;
	padding: 0 rem($container-padding);

	margin: 0 auto;

	@include media('>=xs') {
		padding: 0 rem($container-padding-mobile);
	}

	@include media('>=lg') {
		max-width: $container-lg;
		padding: 0 rem($container-padding);
	}
	@include media('>=xl') {
		max-width: $container-xl;
	}
	@include media('>=xxl') {
		max-width: $container-xxl;
	}
}

.container.container--full {
	max-width: 100%;
}

.container.container--narrow {
	@include media('>=lg') {
		max-width: $content-narrow;
	}
}

.d-flex {
	display: flex;
}
.row {
	display: flex;
	flex-wrap: wrap;

	margin-right: rem($container-padding * -1);
	margin-left: rem($container-padding * -1);

	&.justify-content-end {
		justify-content: flex-end;
	}
	&.justify-content-center {
		justify-content: center;
	}
	&.justify-content-between {
		justify-content: space-between;
	}
	&.justify-content-evenly {
		justify-content: space-evenly;
	}
	&.align-items-center {
		align-items: center;
	}
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;

	padding: 0 rem($container-padding);
}

[class*='col-'] {
	flex-grow: 0;
	flex-shrink: 0;

	padding: 0 rem($container-padding);
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex-basis: calc($i / 12) * 100%;

		max-width: calc($i / 12) * 100%;
	}
}

// Tablet
@for $i from 1 through 12 {
	.col-md-#{$i} {
		@include media('>=md') {
			flex-basis: calc($i / 12) * 100%;

			max-width: calc($i / 12) * 100%;
		}
	}
}

// Small Desktop
@for $i from 1 through 12 {
	.col-lg-#{$i} {
		@include media('>=lg') {
			flex-basis: calc($i / 12) * 100%;

			max-width: calc($i / 12) * 100%;
		}
	}
}

// Desktop
@for $i from 1 through 12 {
	.col-xl-#{$i} {
		@include media('>=xl') {
			flex-basis: calc($i / 12) * 100%;

			max-width: calc($i / 12) * 100%;
		}
	}
}