// Base global styles moved to theme.json

// Headings //
h1,
h2,
h3,
h4,
h5,
h6 {
	&:only-child {
		margin-bottom: 0;
	}
}

h1,
.h1 {
	@include font(40, 42);
	@include media('>=md') {
		@include font(60, 70)
	}
}

h2,
.h2 {
	@include font(40, 42);
	@include media('>=md') {
		@include font(50, 60);
	}
}

h3,
.h3 {
	@include font(30, 32);
	@include media('>=md') {
		@include font(40, 50);
	}
}

h4,
.h4 {
	@include font(25, 27);
	@include media('>=md') {
		@include font(30, 40);
	}
}

h5,
.h5 {
	@include font(20, 22);
	@include media('>=md') {
		@include font(25, 35);
	}
}

h6,
.h6 {
	@include font(18, 20);
	@include media('>=md') {
		@include font(20, 30);
	}
}

// Main Elements //
a {
	transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;

	@include media('>=lg') {
		background-image: linear-gradient(currentColor, currentColor);
		background-repeat: no-repeat;
		background-size: 0% 1px;
		background-position: 100% 100%;
	}

	&:focus,
	&:hover {
		color: $color--link-hover;

		@include media('>=lg') {
			background-position: 0 100%;
			background-size: 100% 1px;
		}
	}

	img {
		border: 0;
	}
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: bolder;
}

i,
em,
.italic {
	font-family: $font-narrow;
}

.page-content ul:not([class]),
.acf-block ul:not([class]),
.editor-rich-text ul,
ol {
	ul,
	ol {
		margin: 0;
	}
}

hr {
	box-sizing: content-box;

	height: 0;

	margin-top: rem($margin-mobile);
	margin-bottom: rem($margin-mobile);

	border-top: 1px solid $color--text;

	@include media('>=md') {
		margin-top: rem($margin);
		margin-bottom: rem($margin);
	}
}

.text--large {
	@include font(20,30);
}