@import '__settings/init';

.post-grid {

    padding: rem(48) 0 rem(77);

    &__row {
        &--grid {
            opacity: 1;
		    transform: translate3d(0, 0, 0);
		    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

            &.loading {
                pointer-events: none;
                opacity: 0;
                transform: translate3d(0, 70px, 0);
            }
        }

        &--filter {
            margin: rem(30) 0 rem(32);

            @include media('>=lg') {
                margin: rem(65) 0 rem(32);
            }

            .col-12 {
                padding: 0;
            }
        }
    }

    &__section-title {
        @include font(20, 30);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__filter--mobile {
        padding: rem(13) 0;

        @include media('>=lg') {
            display: none;
        }
    }

    &__filter {
        padding: rem(13) 0;

        display: none;
        position: relative;

        @include font(20, 30);
        font-weight: 700;

        border-top: $color--light rem(1) solid;
        border-bottom: $color--light rem(1) solid;

        @include media('>=lg') {
            display: flex;
            gap: rem(60);
        }

        &-btn {
            padding: rem(10) rem(30);
            background: none;
            color: $color--light;
            @include font(20, 30);
            font-weight: 700;
            border: $color--light rem(1) solid;
            border-radius: rem(40);

            &.active {
                background-color: $color--light;
                color: $color--secondary;
            }

            svg {
                margin-right: rem(13);
            }
        }

        span {
            display: inline-block;
            width: rem(200);

            &:first-child {
                width: rem(147);
                padding-left: rem(80);
                font-style: italic;
            }

            &.post-grid__filter--localisation {
                @include media('>=lg') {
                    width: rem(300);
                }
            }
        }
    }

    &__filter-terms {
        padding-left: 0;
        padding-top: rem(40);
        padding-bottom: rem(14);

        margin-bottom: 0;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: rem(24);

        @include media('>=lg') {
            padding-top: rem(33);
        }
    }

    &__open-filter {
        position: absolute;
        right: 0;

        transition: transform 0.3s ease-in-out;
        background: none;

        &.open {
            transform: rotate(180deg);
        }
    }

    &__filter-wrap {
        display: none;
        position: relative;
        z-index: 2;

        &.open {
            display: block;
        }
    }

    &__filter-items {
        position: absolute;
        z-index: 1;

        padding: rem(69) rem(48);

        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: rem(60);


        background-color: $color--light;


        @include media('>=lg') {
            padding: rem(20) rem(48) rem(69) rem(207);
            top: rem(0);
            flex-direction: row;
            gap: rem(60);
        }

    }

    &__filter-list {
        padding: 0;
        width: rem(200);

        &--localisation {
            @include media('>=lg') {
                width: rem(300);
            }
        }

        li {
            list-style: none;
        }
    }

    &__filter-title {
        color: $color--dark;
        @include font(30, 30);
        font-weight: 700;

        @include media('>=lg') {
           display: none;
        }
    }

    &__filter-item {
        padding: rem(17) 0;
        position: relative;
        border-bottom: rem(1) solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &::before {
            content: url(../../../assets/images/svg/plus_black.svg);
            display: inline-block;
            padding: rem(1.2) 0;
            margin-right: rem(10);
            text-align: center;
            width: rem(24);
            height: rem(24);
            border: rem(1) solid $color--dark;
            border-radius: 50%;
        }

        &.selected {
            &::before {
                content: url(../../../assets/images/svg/check_white.svg);
                background: $color--secondary;
                border: rem(1) solid $color--secondary;
            }
        }

        a {
            @include font(20, 30);
            font-weight: 700;
            color: $color--dark;
            text-decoration: none;
        }
    }

    &__filter-term {
        display: inline-block;
        padding: rem(1) rem(16);
        background-color: $color--light;
        color: $color--dark;
        @include font(15, 30);
        font-weight: 400;
        border-radius: rem(23);
        list-style: none;
        text-transform: uppercase;

        cursor: pointer;

        span {
            display: inline-block;
            margin-left: rem(10);
        }
    }


    &__articles {
        padding-bottom: rem(55);

        &:last-child {
            @include media('<=991px') {
                padding-bottom: 0;
            }
        }

        &--left {
            @include media('>=lg') {
                padding-right: rem(27);
            }
        }

        &--right {
            @include media('>=lg') {
                padding-left: rem(27);
            }
        }

    }

    &__articles-thumbnail {
        margin: rem(10) 0 rem(18);
        max-height: rem(290);
        overflow: hidden;

        display: flex;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__articles-permalink {
        margin-top: rem(18);

        a {
            display: inline-block;
            margin-right: rem(9);
            color: $color--secondary;
            @include font(15, 20);
            font-weight: 400;
            text-decoration: none;

            &::after {
                content: url(../../../assets/images/svg/plus_orange.svg);
            }
        }
    }

    &__more {
        display: flex;
        justify-content: center;

        @include media('<=991px') {
            margin-top: rem(55);
        }

        &.hidden {
            display: none;
        }
    }
}
