@import '__settings/init';
.splide {
	padding: 0 rem(50) rem(40);

	&__arrows {
		position: absolute;
		right: rem(16);
		bottom: rem(-66);

		display: flex;
		align-items: center;
		gap: rem(30);

		@include media('>=lg') {
			right: rem(60);
			bottom: rem(-110);
		}
	}

	&__arrow {
		background: transparent;
		border-radius: 0;
		opacity: 1;
		transform: none;

		position: relative;
		left: auto;
		right: auto;
		width: rem(46);
		height: rem(46);

		color: $color--light;

		&:hover {
			color: $color--secondary;
		}

		&:disabled {
			opacity: 1;
		}

		svg {
			width: rem(40);
			height: auto;

			path {
				transition: color 0.3s ease-in-out;
			}
		}

		&--prev {
			svg {
				transform: none;
			}
		}
	}

	&__pagination {
		display: flex;
		align-items: center;
		gap: rem(7);

		@include media('>=lg') {
			gap: rem(11);
		}

		li {
			font-size: 0;
		}

		.splide__pagination__page {
			margin: 0;
			padding: 0;

			width: rem(10);
			height: rem(10);

			opacity: 1;

			border: rem(1) solid $color--secondary;

			background-color: $color--light;

			transition: background-color 0.3s ease-in-out;

			@include media('>=lg') {
				width: rem(18);
				height: rem(18);
			}

			&.is-active {
				transform: none;

				background-color: $color--secondary;
			}
		}
	}
}