@import '__settings/init';

.page-content--404 {
	padding: rem(40) 0 rem(80);

	@include media('>=md') {
		padding: rem(97) 0 rem(135);
	}
}

.page_404 {
	&__title,
	&__description {
		text-align: center;
	}

	&__description {
		margin-top: rem(60);

		@include media('>=md') {
			margin-top: rem(120);
		}
		a {
			@include link-underline($invert: 'true');
		}
	}
}