@import '__settings/init';

.cta {
	min-height: 400px;

	background: $color--primary;
	background-color: $color--primary;

	@include media('>=md') {
		min-height: 600px;
	}
	&__content {
		flex: 0 0 100%;

		max-width: 600px;
		padding: 0 rem(20);
		*:last-child {
			margin-bottom: 0;
		}
	}
}
