@import '__settings/init';

.hero-3 {
	padding: rem(30) 0 !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	min-height: rem(584);

	display: flex;
	align-items: center;

	@include media('>=lg') {
		min-height: rem(406);
	}

	&__back {
		display: flex;
		align-items: center;
		gap: rem(8);

		position: absolute;
		left: rem(21);
		top: rem(37);

		@include font(18, 21);
		color: $color--light;

		margin: 0;
		padding: 0;

		border: none;
		background-color: transparent;

		@include media('>=md') {
			display: none;
		}

		svg {
			width: rem(31);
			height: rem(31);
		}
	}

	&__title {
		@include font(50, 50);
		font-family: $font-narrow;
		font-style: italic;
		letter-spacing: 0.01em;

		margin-bottom: rem(20);

		@include media('>=md') {
			@include font(60, 69);
			font-style: normal;
		}
	}

	&__description {
		@include font(20, 23);

		max-width: rem(385);

		@include media('>=md') {
			@include font(23, 27);
		}

		&--uppercase {
			text-transform: uppercase;
		}

		&--small {
			@include font(18, 30);

			margin-top: rem(10);
		}
	}

	&__text {
		margin-left: rem(33);
		margin-bottom: rem(120);

		@include media('>=lg') {
			margin-left: rem(26);
			margin-top: rem(14);
			margin-bottom: 0;
		}
	}

	&__circles {
		left: 50%;
		top: rem(147);

		transform: translateX(-50%);

		@include media('>=md') {
			top: rem(55);
		}
	}
}
