@import '__settings/init';

.contact-form {
	padding: rem(42) 0 rem(74) !important;

	position: relative;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(83) 0 rem(113) !important;

		border-radius: rem(210) 0 0 0;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: rem(70);

		@include media('>=lg') {
			flex-direction: row;
			gap: rem(137);
		}
	}

	&__content {
		width: 100%;

		@include media('>=lg') {
			max-width: rem(391);
		}
	}

	&__subtitle {
		margin-bottom: rem(6);
	}

	&__title {
		@include font(40, 42);

		margin-bottom: rem(30);

		@include media('>=lg') {
			@include font(40, 50);

			margin-bottom: rem(34);
		}
	}

	&__description {
		@include font(15, 20);

		width: calc(100% - 52px);

		@include media('>=lg') {
			width: 100%;
		}

	}

	&__form {
		width: 100%;

		@include media('>=lg') {
			max-width: rem(406);
			margin-top: rem(60);
		}
	}

	&__link {
		.wp-block-button__link {
			padding: rem(16) rem(35);
		}
	}

}