@import '__settings/init';

.project-slider {
	padding: rem(46) 0 rem(47) !important;

	color: $color--light;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(52) 0 rem(102) !important;

		border-radius: 0 0 0 rem(210);
	}

	&__categories {
		display: flex;
		flex-wrap: wrap;
		gap: rem(18);

		margin: 0 0 rem(66) 0;
		padding: 0;
		list-style: none;

		@include media('>=400px') {
			gap: rem(18) rem(40);
		}

		@include media('>=lg') {
			gap: rem(40);

			margin: 0 0 rem(54) rem(230);
		}
	}

	&__category {
		@include font(20, 20);

		transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;

		border: rem(1) solid $color--light;
		border-radius: rem(30);

		padding: rem(13) rem(20);

		cursor: pointer;

		@include media('>=lg') {
			border: none;
			border-radius: 0;

			padding: 0;

			background-image: linear-gradient(currentColor, currentColor);
			background-repeat: no-repeat;
			background-size: 0% 1px;
			background-position: 100% 100%;
		}

		&.active {
			color: $color--secondary;

			border: rem(1) solid $color--secondary;

			@include media('>=lg') {
				border: none;

				background-position: 0 100%;
				background-size: 100% 1px;
			}
		}

		&:hover {
			color: $color--secondary;

			border: rem(1) solid $color--secondary;

			@include media('>=lg') {
				border: none;

				background-position: 0 100%;
				background-size: 100% 1px;
			}
		}
	}

	&__content {
		margin: 0 0 rem(110) 0;
		padding: 0;

		@include media('>=400px') {
			margin: 0 rem(-33) rem(110) rem(-33);
		}

		@include media('>=lg') {
			margin: 0 0 rem(65) 0;
		}

		&-tab {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;

		.splide__track {
			overflow: unset;
		}

	}

	&__item {
		box-sizing: content-box;
		transition: width 0.3s ease-in-out;

		@include media('>=lg') {
			width: calc(100vw - 656px) !important;
		}

	

		&:first-child {
			@include media('>=lg') {
				margin-left: rem(230);
			}
		}

		&__link {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			height: rem(489);
			min-height: rem(489);
			padding: rem(22) rem(30);
			border-radius: 0;

			position: relative;

			overflow: hidden;

			color: $color--light !important;
			text-decoration: none;

			transition: min-height 0.3s ease-in-out;

			@include media('>=400px') {
				padding: rem(32) rem(42);
			}

			@include media('>=lg') {
				height: rem(434);
				min-height: rem(434);
				padding: rem(29) rem(42);
				border-radius: rem(4);
			}

			&:hover {
				background-size: 0;

				.project-slider__item__image img {
					transform: scale(1.15);
				}
			}
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 100%;
			height: 100%;

			&::before {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 1;

				background-color: rgba(0, 0, 0, 0.4);
			}

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;

				transition: transform 0.3s ease-in-out;
			}
		}

		&__title {
			font-family: $font-narrow;
			font-style: italic;
			letter-spacing: 0.02em;

			margin-bottom: rem(19);

			@include media('>=lg') {
				margin-bottom: rem(10);
			}
		}

		&__description {
			@include font(15, 20);

			@include media('>=lg') {
				@include font(16, 20);
				font-weight: 700;
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;

		@include media('>=lg') {
			justify-content: flex-start;

			margin-left: rem(230);
		}
	}

	&.style-bg--white {
		color: $color--dark;
	}
}