@import '__settings/init';

.title-with-text-boxes {
	padding: rem(47) 0 rem(107) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(94) 0 rem(392) !important;
		margin-bottom: rem(-210);
	}

	&__title {
		max-width: rem(819);
		margin-bottom: rem(66);

		@include media('>=md') {
			margin-bottom: rem(73);
		}

		i {
			letter-spacing: 0.02em;
			font-style: normal;
		}

		span {
			letter-spacing: 0.01em;
			font-family: $font-narrow;
		}
	}

	&__list {
		margin: 0;
		padding: 0;

		list-style: none;

		display: flex;
		flex-wrap: wrap;
		gap: rem(26) rem(23);

		@include media('>=md') {
			gap: rem(50) rem(61);
		}

		&--four {
			max-width: unset;

			gap: rem(26) rem(23);

			@include media('>=xl') {
				gap: rem(50) rem(65);
			}
			.title-with-text-boxes__item {
				@include media('>=xl') {
					width: calc(25% - 49px);
				}
			}
		}
	}

	&__item {
		width: calc(50% - 11.5px);

		@include media('>=md') {
			width: calc(50% - 31.42px);
		}

		@include media('>=xl') {
			width: calc(33.3333% - 41.42px);
		}

		&--client {
			h2, h3 {
				color: $color--secondary;
			}

			p {
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		&--delivery_date {
			h2, h3 {
				color: $color--secondary;
			}
		}
		&--architects {
			h2, h3 {
				color: $color--dark;
			}

			p {
				font-weight: 700;
				text-transform: uppercase;
				color: $color--secondary;
			}
		}

		&--surface_area {
			h2, h3 {
				color: $color--secondary;
			}
		}

		&__number {
			@include font(80, 92);
			color: $color--secondary;

			margin-bottom: rem(8);
		}

		&__logo {
			height: rem(119);

			img {
				height: 100%;
				width: auto;

				object-fit: contain;
			}
		}

		&__title {
			@include font(20, 23);
			font-weight: 700;

			margin-bottom: rem(5);

			&--bigger {
				@include font(20, 23);

				@include media('>=lg') {
					@include font(35, 42);
				}

				span {
					color: $color--secondary;
				}
			}
		}

		h3 {
			@include font(20, 23);
			font-weight: 700;

			margin-bottom: rem(8);

			@include media('>=lg') {
				@include font(35, 42);
			}
		}

		h2 {
			@include font(20, 23);
			font-weight: 700;

			margin-bottom: rem(5);

			@include media('>=lg') {
				@include font(45, 52);
			}
		}

		&__description {
			&--uppercase {
				text-transform: uppercase;
				font-weight: 700;
			}

			span {
				color: $color--secondary;
			}
		}
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		gap: rem(65);

		margin: rem(98) 0 0 0;
		padding: 0;

		list-style: none;
	}

	&__logo {
		max-height: rem(116);

		img {
			height: 100%;
			width: auto;
		}
	}

	&__circles {
		left: rem(31);
		top: rem(241);


		@include media('>=md') {
			top: rem(186);
			right: rem(-328);
			left: auto;
		}

		&--white {
			@include media('>=md') {
				top: rem(164);
				left: 50%;
				right: auto;

				transform: translateX(-50%);
			}
		}
	}
}


.title-with-text-boxes + section {
	position: relative;
	z-index: 1;

	&.style-bg--white {
		background-color: $color--light;
	}
}

.page-content--single {
	.title-with-text-boxes {
		&__circles {
			display: none;
		}
	}
}