//
// MIXINS
//
@mixin cf {
	&:before,
	&:after {
		content: '';

		display: table;
	}

	&:after {
		clear: both;
	}
}

@function vw-size($s, $w: 1440) {
	@return ($s / $w) * 100 + vw;
}

@function rem($sizeValue: 16) {
	@return calc($sizeValue / 16) + rem;
}

@function rel($size, $rel) {
	@return calc($size / $rel);
}

@function em($size, $rel) {
	@return rel($size, $rel) * 1em;
}

@mixin object-fit-cover() {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	object-fit: cover;
}

@mixin line-height($font-size, $line-height: 0) {
	@if $line-height != 0 {
		@if $line-height < 10 {
			line-height: $line-height;
		}
		@else {
			line-height: calc($line-height / $font-size);
		}
	}
}

@mixin letter-spacing($font-size, $letter-spacing: 0) {
	@if $letter-spacing != 0 {
		@if $letter-spacing < 10 {
			letter-spacing: rem($letter-spacing);
		}
		@else {
			letter-spacing: rem(($font-size * $letter-spacing) / 1000);
		}
	}
}

@mixin font($font-size-map, $line-height: 0, $letter-spacing: 0) {
	@if type-of($font-size-map) == 'map' {
		@each $breakpoint, $font-size in $font-size-map {
			@if $breakpoint == null {
				font-size: rem($font-size);

				@include line-height(map-get($font-size-map, nth(map-keys($font-size-map), -1)), $line-height);
				@include letter-spacing(map-get($font-size-map, nth(map-keys($font-size-map), -1)), $letter-spacing);
			}
			@else {
				@media screen and (min-width: map-get($breakpoints, $breakpoint)) {
					font-size: rem($font-size);
				}
			}
		}
	}
	@else {
		font-size: rem($font-size-map);

		@include line-height($font-size-map, $line-height);
		@include letter-spacing($font-size-map, $letter-spacing);
	}
}

@mixin link-embracing {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	outline-offset: rem(-3);
}

@mixin link-underline($invert: "false") {
    position: relative;
	text-decoration: none;

    &::after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: currentColor;
        position: absolute;
        left: 0;
        bottom: 1px;
        transform-origin: left;
        border-radius: 2px;
        transition: transform $default-transition-speed $default-transition-timing-function;
		will-change: transform;

		@if($invert == 'false') {
			transform: scaleX(0);
		}
		@else {
			transform: scaleX(1);
		}
    }

    &:hover {
        &::after {
			@if($invert == 'false') {
				transform: scaleX(1);
			}
			@else {
				transform: scaleX(0);
			}
        }
    }
}

@mixin resetList() {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

@mixin circle-before($width: 11px, $height: 11px) {
	position: relative;

	&:before {
		content: '';

		display: inline-block;

		width: $width;
		height: $height;

		position: absolute;
		top: rem(4);
		left: 0;

		border: 2px solid $color--secondary;
		border-radius: 50%;
	}
}
