//* BREAKPOINTS *//
$breakpoints: (xs: 400px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, max: 1920px);

//* CONTAINER width variables *//
$container-mobile: 720px;
$container-lg: 960px;
$container-xl: 1080px;
$container-xxl: var(--wp--style--global--wide-size); // theme.json settings.layout
$container-padding: 15; //theme.json setting.custom.basePadding
$container-padding-mobile: 31;

//* FONTS *//
$font-base: var(--wp--preset--font-family--base-font); //theme.json setting.typography.fontFamilies
$font-narrow: var(--wp--preset--font-family--narrow-font); //theme.json setting.typography.fontFamilies


$font-size-desktop: var(--wp--preset--font-size--small);//theme.json setting.typography.fontSizes
$line-height-desktop: 1.45;

// Set Mobile font-size / line-height styles in theme.json styles.typography

//* SPACINGS *//

// Block Spacings
$spacing-mobile: 40; //theme.json setting.spacing.spacingSizes
$spacing: var(--wp--preset--spacing--medium);

$margin-mobile: 30; //theme.json setting.spacing.spacingSizes
$margin: var(--wp--preset--spacing--medium);

// Media Spacing
$media-margin: var(--wp--custom--media-spacing); //theme.json setting.custom.mediaSpacing; //px

//* COLORS *//

// Base Colors
$color--dark:  var(--wp--preset--color--dark); //theme.json setting.color
$color--light: var(--wp--preset--color--light); //theme.json setting.color

// Main Colors
$color--primary: var(--wp--preset--color--primary); //theme.json setting.color
$color--secondary: var(--wp--preset--color--secondary); //theme.json setting.color

// Other Colors
$color--focus: var(--wp--preset--color--focus); //theme.json setting.color
$color--gray: var(--wp--preset--color--gray); //theme.json setting.color
$color--light-gray: var(--wp--preset--color--light-gray); //theme.json setting.color
$color--brown: var(--wp--preset--color--brown); //theme.json setting.color

// Elements Colors
$color--bg:     var(--wp--preset--color--bg); //theme.json setting.color
$color--body:   $color--light;
$color--border: $color--dark;

// Theme Text Colors
$color--text:       $color--dark;
$color--text-light: $color--light;
$color--link:       $color--light;
$color--link-hover: $color--secondary;

//* OTHER *//

$letter-spacing-heading: 0.02em;
$content-narrow: 812px;

// Transitions
$default-transition-speed: 0.25s;
$default-transition-timing-function: ease-in-out;
$transition: $default-transition-speed $default-transition-timing-function;

// Outline
$outline: 3px solid $color--focus;

// Border
$border-dashed: 1px dashed rgba(255, 255, 255, 0.6);

// Z index
$zbehind: -1;
$zbase: 1;

/* announcement bar, header, flyout */
$zflyout: 5;
$zmodal: 101;

/* skip to content */
$zhighest: 9999;