@import '__settings/init';

.text {
	padding: rem(0) 0 rem(70) !important;

	position: relative;
	z-index: 1;

	overflow: hidden;

	@include media('>=lg') {
		padding: rem(0) 0 rem(102) !important;
	}

	&__hero {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: rem(130) rem(15) rem(80);
		margin-bottom: 0;

		@include font(30, 40);
		text-align: center;
		text-transform: uppercase;
		color: $color--light;

		background-color: $color--dark;

		@include media('>=lg') {
			@include font(40, 50);
		}
	}

	&__title {
		max-width: rem(1000);
		margin: rem(50) auto rem(40);

		text-align: center;

		@include media('>=lg') {
			margin: rem(96) auto rem(40);
		}
	}

	&__description {
		margin: rem(40) auto 0;
		max-width: rem(812);

		@include font(16, 22);

		@include media('>=lg') {
			@include font(20, 30);
		}
	}

	&__list {
		margin: 0 0 rem(50) 0;
		padding: 0;

		list-style: none;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(8);
	}

	&__checkbox {
		position: absolute;
		z-index: -1;

		visibility: hidden;

		&:checked {
			& + .jobs__text::after {
				opacity: 1;
			}
		}
	}

	&__text {
		position: relative;

		display: flex;
		align-items: center;
		gap: rem(14);

		color: $color--brown;

		width: fit-content;

		cursor: pointer;
		user-select: none;

		&::before {
			content: '';
			display: block;

			width: rem(26);
			height: rem(26);

			border-radius: 50%;
			border: rem(1) solid $color--secondary;
		}

		&::after {
			content: '';
			display: block;

			position: absolute;
			left: rem(8);
			top: 50%;

			transform: translateY(-50%);

			width: rem(12);
			height: rem(9);

			background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6.60005L9.9 0.700048C10.0833 0.516715 10.3167 0.425049 10.6 0.425049C10.8833 0.425049 11.1167 0.516715 11.3 0.700048C11.4833 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4833 1.91672 11.3 2.10005L4.7 8.70005C4.5 8.90005 4.26667 9.00005 4 9.00005C3.73334 9.00005 3.5 8.90005 3.3 8.70005L0.700003 6.10005C0.516669 5.91672 0.425003 5.68338 0.425003 5.40005C0.425003 5.11671 0.516669 4.88338 0.700003 4.70005C0.883336 4.51672 1.11667 4.42505 1.4 4.42505C1.68334 4.42505 1.91667 4.51672 2.1 4.70005L4 6.60005Z' fill='%23EF7D00'/%3E%3C/svg%3E%0A");

			opacity: 0;

			transition: opacity 0.3s ease-in-out;
		}
	}

	&__link {
		.wp-block-button__link {
			padding: rem(15) rem(35);
		}
	}
}
