@import '__settings/init';

.text-with-image-circle {
	padding: rem(144) 0 rem(67) 0;

	@include media('>=lg') {
		padding: rem(144) 0 rem(95);
	}

	@include media('>=xl') {
		padding: rem(104) 0 rem(95);
	}

	&__col {
		&--content {
			margin-top: rem(69);

			@include media('>xl') {
				padding-left: rem(79);

				margin-top: 0;
			}
		}
		&--image {
			display: flex;
			align-items: flex-end;
			justify-content: center;

			@include media('>=xl') {
				justify-content: flex-end;

				padding-right: rem(73);
				padding-bottom: rem(58);
			}
		}
	}

	&__image-wrapper {
		position: relative;
		z-index: $zbase;

		margin-right: rem(-61);

		@include media('>=md') {
			padding-right: rem(5);
			margin-right: 0;
		}

		@include media('>=xl') {
			padding-right: 0;
		}

		img {
			max-width: rem(240);

			@include media('>=400px') {
				max-width: rem(253);
			}

			@include media('>=md') {
				max-width: 100%;
			}
		}
	}

	&__circle {
		max-width: rem(217);

		position: absolute;
		z-index: $zbehind;

		left: rem(-62);
    	top: rem(-75);

		@include media('>=md') {
			// top: rem(-90);
			// left: rem(-140);
		}
		@include media('>=lg') {
			max-width: 100%;

			top: rem(-90);
			left: rem(-140);
		}

		&.pulse {
			animation: pulseAnimation 1.5s 2;
			-webkit-animation: pulseAnimation 1.5s 2;

			border-radius: 50%;
		}
	}

	&__subtitle {
		margin-bottom: rem(19);

		@include media('>=md') {
			margin-bottom: rem(23);
		}
	}

	&__title {
		margin-bottom: rem(63);

		@include media('>=lg') {
			@include font(40, 38);
		}

		i, em {
			letter-spacing: 0.02em;
		}
	}

	&__description {
		margin-top: rem(39);
	}

	&__buttons  {
		margin-top: rem(60);

		@include media('>=md') {
			margin-top: 0;
		}
	}
}

@keyframes pulseAnimation {
	0% {
		box-shadow: 0 0 0 0px rgba(239, 125, 0, 0.6);
	}
	100% {
		box-shadow: 0 0 0 45px rgba(239, 125, 0, 0);
	}
}

@-webkit-keyframes pulseAnimation {
	0% {
		box-shadow: 0 0 0 0px rgba(239, 125, 0, 0.6);

		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 45px rgba(239, 125, 0, 0);

		opacity: 1;
	}
}
