@import '__settings/init';

.text-with-image {
	padding: rem(80) 0;

	@include media('>=lg') {
		padding: rem(138) 0 rem(75);
	}

	&__row {
		&--left {
			@include media('>=lg') {
				flex-direction: row-reverse;
			}
		}
	}

	&__col {
		&--content {
			margin-bottom: rem(50);

			@include media('>=lg') {
				padding-right: rem(71);

				margin-bottom: 0;
			}
		}
	}

	&__subtitle {
		margin-bottom: rem(23);
	}

	&__title {
		@include media('>=lg') {
			margin-bottom: rem(60);

			@include font(60, 56);
		}
	}

	&__description {
		margin-top: rem(39);

		@include font(16, 22);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(68);

		margin: rem(57) 0 0 0;
		padding: 0;

		list-style: none;

		@include media('>=lg') {
			flex-direction: row;
			flex-wrap: wrap;
			gap: rem(40);

			margin: rem(137) 0 0 0;
		}

		@include media('>=xxl') {
			gap: rem(68);
		}

		&__item {
			display: flex;
			align-items: flex-start;
			gap: rem(16);

			@include font(20, 27);
			font-weight: 700;

			position: relative;

			width: 100%;

			@include media('>=lg') {
				width: calc(33.3333% - 28.333px);
			}

			@include media('>=xxl') {
				width: calc(33.3333% - 64.333px);
			}

			&::before {
				content: '';
				display: block;

				width: rem(58);
				min-width: rem(58);
				height: rem(3);
				margin-top: rem(15);

				background-color: $color--secondary;
			}
		}
	}
}