@import '__settings/init';

.title-with-text-image {
	padding: rem(47) 0 rem(71) !important;

	position: relative;
	z-index: 1;

	@include media('>=lg') {
		padding: rem(80) 0 rem(71) !important;
	}

	&__row {
		display: flex;
		flex-direction: column-reverse;
		gap: rem(80);

		@include media('>=lg') {
			flex-direction: row;
			gap: rem(40);
		}
	}

	&__description {
		@include media('>=lg') {
			@include font(18, 23);
		}
	}

	&__text {
		position: relative;

		width: 100%;
		margin-bottom: rem(10);

		@include media('>=md') {
			margin-bottom: rem(70);
		}

		@include media('>=lg') {
			max-width: rem(395);
		}
	}

	&__button {
		display: none;
		justify-content: center;
		align-items: center;

		position: absolute;
		left: rem(-43);
		top: rem(-7);

		width: rem(33);
		height: rem(33);

		border: none;
		background-color: transparent;
		padding: 0;
		margin: 0;

		@include media('>=1070px') {
			display: flex;
		}

		@include media('>=1250px') {
			left: rem(-97);
			top: rem(-23);

			width: rem(66);
			height: rem(66);
		}

		&:hover {
			color: $color--secondary;
		}

		path {
			transition: color 0.3s ease-in-out;
		}
	}

	&__subtitle {
		@include font(18, 21);
		letter-spacing: 0.03em;
		font-weight: 400;

		margin-bottom: rem(20);

		@include media('>=lg') {
			@include font(18, 21);
			letter-spacing: 0.03em;
			font-weight: 400;
			font-family: $font-narrow;
			color: $color--gray;
		}
	}

	&__title {
		letter-spacing: 0.01em;

		max-width: rem(819);
		margin-bottom: rem(33);

		@include media('>=md') {
			@include font(60, 56);

			margin-bottom: rem(50);
		}
	}

	&__image {
		width: 100%;
		max-width: rem(679);

		position: relative;

		overflow: hidden;

		border-radius: 0 0 rem(105) 0;

		transition: border-radius 0.5s ease-in-out 1.8s;

		@include media('>=md') {
			border-radius: 0 0 rem(210) 0;
		}

		&.animate {
			&::before {
				transform: translateY(0);
			}

			img {
				transform: translateY(0);
			}
		}


		&::before {
			content: '';
			display: block;

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			background-color: rgba(0, 0, 0, 0.3);

			transition: transform 1.8s ease-in-out;

			transform: translateY(100%);
		}

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;

			transition: transform 1.8s ease-in-out;

			transform: translateY(100%);
		}
	}

}


.hero-3 + .title-with-text-image {
	@include media('>=lg') {
		padding: rem(0) 0 rem(29) !important;
	}

	.title-with-text-image__row {
		margin-top: rem(-236);

		@include media('>=lg') {
			margin-top: rem(-280);
		}
	}

	.title-with-text-image__text {
		@include media('>=lg') {
			margin-top: rem(270);
		}

		@include media('>=1250px') {
			margin-top: rem(321);
		}
	}
}

.page-content--single {
	.title-with-text-image {
		&__button {
			color: $color--secondary;

			&:hover {
				color: $color--dark;
			}
		}
	}
}
