@import '__settings/init';

.intro {
	padding: rem(50) 0 !important;

	text-align: center;

	@include media('>=lg') {
		padding: rem(95) 0 !important;
	}

	&__title {
		div {
			overflow: hidden;

			@include media('<=767px') {
				transform: none !important;
				opacity: 1 !important;
			}
		}

		.parentline {
			@include media('<=767px') {
				display: inline !important;
			}

			div {
				@include media('<=767px') {
					display: inline !important;
				}
			}
		}
	}

	&__description {
		margin-top: rem(37);
	}
}