@import '__settings/init';
@import '__admin-editor/init';
@import '__global/init';
@import '../../parts/gutenberg/core-heading/style.scss';
@import '../../parts/gutenberg/core-paragraph/style.scss';
@import '../../parts/gutenberg/core-list/style.scss';
@import '../../parts/gutenberg/core-button/style.scss';

*,
*:before,
*:after {
	box-sizing: inherit;
}

.block-editor-block-list__layout {
	.block-editor-block-list__block {
		table {
			width: calc(100% - 2px);
		}
	}
}

.block-library-list ol {
	padding-left: 0;

	margin-left: 0;
}

[data-type^='acf/'],
[data-type^='custom/'] {
	max-width: 100% !important;
}

.editor-styles-wrapper select,
[id*='acf-block_'] {
	max-width: none !important;
}

.block-editor-block-list__layout div[data-title] {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	max-width: 100%;
	padding-right: 2rem;
	padding-left: 2rem;

	> div {
		width: 100%;
	}

	&:before {
		content: attr(data-title);

		display: block;

		padding: 2rem .1rem;

		transform: scale(-1);

		color: $color--light;

		border: 1px solid var(--wp-admin-theme-color);
		background-color: var(--wp-admin-theme-color);

		writing-mode: vertical-rl;
		text-orientation: sideways;
	}
}

::selection {
	color: #ffffff !important;
	background: #000000 !important;
}

::-moz-selection {
	color: #ffffff !important;
	background: #000000 !important;
}
