@import '__settings/init';

.project-gallery {
	padding: rem(31) 0 rem(88) !important;

	overflow: hidden;

	position: relative;

	@include media('>=lg') {
		padding: rem(148) 0 rem(110) !important;
	}

	&::before {
		content: '';
		display: none;

		position: absolute;
		top: rem(98);
		right: rem(130);

		background-image: url("data:image/svg+xml,%3Csvg width='677' height='678' viewBox='0 0 677 678' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.03' d='M547.231 395.159C577.881 280.77 509.799 161.331 395.562 130.721C281.324 100.112 160.841 169.024 130.19 283.414C99.5393 397.803 169.675 516.821 283.905 547.429C398.136 578.037 516.582 509.542 547.231 395.159ZM12.3301 251.833C60.9829 70.2583 245.866 -35.8899 427.187 12.695C608.508 61.2799 713.736 245.163 665.083 426.738C616.431 608.313 433.596 714.031 252.282 665.448C70.9683 616.866 -36.3227 433.408 12.3301 251.833Z' fill='black'/%3E%3C/svg%3E%0A");

		width: rem(677);
		height: rem(677);

		@include media('>=lg') {
			display: block;
		}
	}

	&.style-bg--black {
		.splide__arrow {
			color: $color--light;

			&:hover {
				color: $color--secondary;
			}
		}
	}

	&__subtitle {
		margin-bottom: rem(15);
	}

	&__title {
		@include font(40, 42);

		margin-bottom: rem(30);

		@include media('>=md') {
			@include font(60, 69);
			letter-spacing: 0.01em;
			font-family: $font-narrow;

			margin-bottom: rem(20);
		}
	}

	&__description {
		max-width: rem(567);

		margin-bottom: rem(58);

		@include media('>=md') {
			margin-bottom: rem(52);
		}
	}

	&__slider {
		position: relative;

		padding: 0 !important;

		margin-top: rem(52);

		.splide__track {
			overflow: unset;
		}

		.splide__arrows {
			display: none;

			right: rem(32);
			bottom: rem(-97);

			@include media('>=md') {
				display: flex;
			}
		}

		.splide__arrow {
			color: $color--dark;

			&:hover {
				color: $color--secondary;
			}
		}
	}

	&__slide {
		padding-bottom: rem(60);

		transition: width 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

		@include media('>=md') {
			width: rem(335);
		}

		@include media('<=767px') {
			width: calc(100vw - 110px);
		}

		@include media('<=399px') {
			width: calc(100vw - 62px);
		}

		&:first-child {
			.project-gallery__slide__image {
				border-radius: rem(100) rem(8) rem(8) rem(8);
			}
		}

		&:hover {
			@include media('>=md') {
				width: rem(514);

				padding-bottom: 0;
			}

			.project-gallery__slide__image {
				@include media('>=md') {
					height: rem(600);
				}

				&::before {
					@include media('>=md') {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
			}

			.project-gallery__slide__content {
				@include media('>=md') {
					opacity: 1;
					visibility: visible;
				}
			}

			.project-gallery__slide__text {
				@include media('>=md') {
					margin-top: -100%;
				}
			}
		}

		&.is-active {
			padding-bottom: 0;

			.project-gallery__slide__content {
				@include media('<=767px') {
					opacity: 1;
					visibility: visible;
				}
			}

			// .project-gallery__slide__text {
			// 	@include media('<=767px') {
			// 		margin-top: -100%;
			// 	}
			// }
		}

		&__image__inner {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__image {
			width: 100%;
			height: rem(450);

			border-radius: rem(8);

			overflow: hidden;

			position: relative;

			transition: height 0.3s ease-in-out;

			&::before {
				content: '';
				display: block;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;

				background-color: rgba(0, 0, 0, 0.2);

				transition: background-color 0.3s ease-in-out;
			}

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			position: absolute;
			left: 50%;

			transform: translateX(-50%);

			width: 100%;
			padding: rem(30);

			color: $color--light;

			opacity: 0;
			visibility: hidden;

			transition: opacity 0.3s ease-in-out, visibility 0.2s ease-in-out;

			@include media('>=400px') {
				max-width: rem(250);
				padding: 0;
			}

			@include media('>=md') {
				max-width: rem(320);
			}
		}

		&__description {
			@include font(40, 48);

			margin-bottom: rem(26);

			@include media('>=md') {
				@include font(60, 70);
			}
		}

		&__category {
			@include font(18, 21);
			font-weight: 700;
			letter-spacing: 0.02em;
			font-family: $font-narrow;
			text-transform: uppercase;
		}

		&__link {
			display: inline-flex;
			align-items: center;
			gap: rem(6);

			margin-top: rem(25);
			padding: rem(4) rem(13);

			border-radius: rem(30);
			border: rem(1) solid $color--light;

			color: $color--light;
			text-decoration: none;

			transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

			&:hover {
				color: $color--dark;

				background-color: $color--light;
			}
		}

		&__text {
			transition: margin 0.3s ease-in-out;
		}

		&__title {
			@include font(30, 34);
			font-weight: 700;
			font-family: $font-narrow;

			margin-top: rem(25);
			margin-bottom: rem(10);
		}
	}

	&__link {
		margin-top: rem(10);

		@include media('>=md') {
			margin-top: rem(50);
		}

		.wp-block-button__link {
			padding: rem(16) rem(33);
		}
	}

}