@import '__settings/init';

.scroll-accordion {
	padding: rem(111) 0 rem(60) !important;

	position: relative;

	@include media('>=lg') {
		padding: rem(161) 0 rem(104) !important;
	}

	&__container {
        padding-top: rem(0);
        display: flex;

        &__helper {
            width: rem(1);
            height: var(--scroll-helper-height);

            &__list {
                display: flex;
                flex-direction: column;
                width: rem(1);

				@media screen and (orientation:landscape) and (max-device-height: 450px) {
					display: none;
				}

				@media screen and (orientation:portrait) and (max-device-height: 840px) {
					display: none;
				}
            }
        }
    }

	&__content {
        display: flex;
		justify-content: center;
        gap: rem(37);
        position: relative;
        margin-left: rem(126);
        width: 100%;

		@include media('>=400px') {
			margin-left: rem(94);
		}

		@include media('>=650px') {
			margin-right: rem(5);
			margin-left: 0;
		}
    }

	&__list {
		height: fit-content;

		position: sticky;
        top: rem(35);

		@include media('>=450px') {
			top: var(--l-s-top-pos);
		}
	}

	&__buttons {
		position: absolute;
		left: rem(-113);
		top: rem(-2);

		min-height: rem(200);
		max-height: rem(397);
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media('>=400px') {
			left: rem(-105);
		}

		@include media('>=650px') {
			left: rem(-115);
			top: rem(8);
			bottom: 0;

			max-height: unset;
			height: auto;
		}

		&::before {
			content: '';
			display: block;

			position: absolute;
			right: rem(-17);
			top: 0;
			bottom: 0;

			height: 100%;
			width: rem(1);

			background-color: $color--light;
		}
	}

	&__button {
		@include font(20, 23);
		font-family: $font-narrow;
		font-style: italic;
		text-align: right;

		height: 100%;
		max-width: rem(83);

		position: relative;

		transition: height 0.3s ease-in-out;

		&::before {
			content: '';
			display: block;

			position: absolute;
			right: rem(-17);
			top: 0;
			bottom: 0;

			height: 100%;
			width: rem(1);

			background-image: linear-gradient(0deg, $color--dark, $color--dark 55%, transparent 55%, transparent 100%);
			background-size: rem(1) rem(12);
			border: none;

			opacity: 0;

			@include media('>=650px') {
				background-size: rem(1) rem(16);
			}
		}

		&:not(:last-child) {
			&::after {
				content: '';
				display: block;

				position: absolute;
				right: rem(-17);
				bottom: 0;

				height: rem(22);
				width: rem(1);

				background-color: $color--dark;

				opacity: 0;
			}
		}

		&.dashed {
			&::before {
				opacity: 1;
			}

		}

		&.active {
			height: 200%;

			&::before {
				opacity: 1;
			}

			&::after {
				opacity: 1;
			}

			span {
				color: $color--secondary;
			}
		}

		span {
			cursor: pointer;

			user-select: none;

			transition: color 0.3s ease-in-out;

			&:hover {
				color: $color--secondary;
			}
		}
	}

	&__list {
		margin: 0;

		padding: 0;

		list-style: none;

		&-item {
			margin: 0 0 0 rem(10);
			opacity: 0;
			height: 0;
			display: flex;
			align-items: flex-start;
			flex-direction: column;

			position: relative;
			top: rem(50);

			transition: opacity 0 ease-in-out, height 0.3 ease-in-out, top 0.3s ease-in-out;

			&.active {
				height: auto;
				opacity: 1;
				top: 0;

				transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out 0.2s;
			}

			&__inner {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				gap: rem(33);

				@include media('>=650px') {
					gap: rem(58);
				}

				@include media('>=lg') {
					flex-direction: row;
				}
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			gap: rem(27);

			width: 100%;

			@include media('>=650px') {
				gap: rem(42);

				max-width: rem(350);
			}

			@include media('>=1230px') {
				max-width: rem(444);
			}

			&__inner {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				gap: rem(20);

				@include media('>=1230px') {
					flex-direction: row
				}
			}
		}

		&-title {
			@include font(35, 27);
			font-family: $font-narrow;
			font-style: italic;

			margin-bottom: 0;

			@include media('>=400px') {
				@include font(60, 50);
			}
		}

		&-title__description {
			@include media('>=650px') {
				max-width: rem(311);
			}

			@include media('>=lg') {
				@include font(20, 30);

				max-width: rem(311);
			}
		}

		&-description {
			@include media('>=650px') {
				max-width: rem(363);
			}

			@include media('<=649px') {
				@include font(15, 20);

				margin-right: rem(-5);
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			gap: rem(19);

			&__image {
				width: 100%;

				object-fit: cover;

				@include media('>=650px') {
					width: rem(300);
					height: rem(150);
				}

				@include media('>=1230px') {
					width: rem(453);
					height: rem(251);
				}
			}

			&__caption {
				font-family: $font-narrow;
				font-style: italic;

				@include media('>=650px') {
					max-width: rem(200);
				}

				@include media('>=lg') {
					@include font(20, 30);
				}

				@include media('>=1230px') {
					max-width: rem(363);
				}

				@include media('<=649px') {
					margin-right: rem(-7);
				}
			}
		}

		&-link {
			margin-left: rem(-20);
			margin-top: rem(51);

			@include media('>=650px') {
				margin-left: 0;
				margin-top: rem(20);
			}

			.wp-block-button__link {
				padding: rem(14) rem(35);
			}
		}
	}
}
