@import '__settings/init';

.news {
	padding: rem(31) 0 rem(52.5) !important;

	overflow: hidden;

	position: relative;
	z-index: 1;

	@include media('>=lg') {
		padding: rem(92) 0 rem(49) !important;

		border-radius: rem(210) 0 0 0;
	}

	&__container {
		@include media('>=xxl') {
			max-width: rem(1155);
		}
	}

	&__subtitle {
		margin-bottom: rem(15);

		@include media('>=lg') {
			margin-bottom: rem(20);
		}
	}

	&__title {
		@include font(40, 42);
		letter-spacing: 0.02em;
		font-family: $font-narrow;

		max-width: rem(898);
		margin-bottom: rem(15);

		@include media('>=lg') {
			@include font(60, 60);
			letter-spacing: 0.01em;

			margin-bottom: rem(25);
		}

		&--list {
			@include font(40, 50);
			letter-spacing: 0.02em;
			font-family: $font-narrow;
			font-style: italic;

			margin-bottom: rem(30);

			@include media('>=lg') {
				margin-bottom: rem(50);
			}
		}
	}

	&__description {
		margin-bottom: rem(63);

		@include media('>=lg') {
			max-width: rem(624);
			margin-bottom: rem(70);
		}
	}

	&__row {
		list-style: none;

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(30) rem(30);

		margin-left: rem(5);

		@include media('>=lg') {
			margin-top: rem(130);
			margin-left: 0;

			gap: rem(60);
		}
	}

	&__socials {
		@include media('>=xl') {
			max-width: rem(501);
			width: 100%;
		}
	}

	&__list {
		margin: 0;
		padding: 0;

		list-style: none;

		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: rem(77);

		@include media('>=xl') {
			margin: 0 0 0 rem(64);
		}
	}

	&__item {
		&__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(10);
			color: currentColor;

			text-decoration: none;
		}

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;

			width: rem(64);
			height: rem(64);

			border-radius: 50%;
			background-color: $color--light-gray;

			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: $color--light;
			}

			img {
				width: rem(60);
				height: rem(60);
				max-width: rem(60);
				max-height: rem(60);
			}
		}

		&__name {
			@include font(16, 20);
			font-weight: 700;
			color: $color--secondary;

			transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;

			@include media('>=lg') {
				background-image: linear-gradient(currentColor, currentColor);
				background-repeat: no-repeat;
				background-size: 0% 1px;
				background-position: 100% 100%;
			}

			&:hover {
				color: $color--light;
	
				@include media('>=lg') {
					border: none;
	
					background-position: 0 100%;
					background-size: 100% 1px;
				}
			}
		}
	}

	&__image {
		display: none;

		position: relative;
		z-index: 1;

		width: 100%;
		margin-right: rem(30);

		overflow: hidden;

		@include media('>=lg') {
			width: rem(533);
			height: rem(297);

			display: block;
		}

		&::before {
			content: '';
			display: block;

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;

			background-color: rgba(0, 0, 0, 0.2);
		}

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__name {
		@include font(16, 20);
		font-weight: 700;

		margin-bottom: rem(2);

		@include media('>=400px') {
			margin-bottom: rem(6);
		}
	}

	&__linkedin {
		@include font(15, 20);

		.wp-block-button__link {
			@include font(15, 20);

			padding: 0;
			border: none;
			background: none !important;

			color: $color--secondary !important;
		}
	}

	&__more {
		display: flex;
		justify-content: center;

		margin-top: rem(50);

		@include media('>=400px') {
			margin-top: rem(82);
		}

		@include media('>=lg') {
			display: block;

			margin-top: rem(88);
		}

		&.hidden {
			display: none;
		}

		.wp-block-button__link {
			@include media('>=lg') {
				padding: rem(15) rem(34);
			}
		}
	}
}