@import '__settings/init';

.team {
	padding: rem(42) 0 rem(63) !important;

	overflow: hidden;

	position: relative;
	z-index: 1;

	@include media('>=lg') {
		padding: rem(133) 0 rem(82) !important;

		border-radius: rem(210) 0 0 0;
	}

	&::before {
		content: '';
		display: none;

		position: absolute;
		top: rem(262);
		right: rem(-657);

		z-index: -1;

		background-image: url("data:image/svg+xml,%3Csvg width='1604' height='1604' viewBox='0 0 1604 1604' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M1314.29 803.131C1314.29 522.11 1084.88 290.157 804.234 290.157C523.587 290.157 289.748 522.11 289.748 803.131C289.748 1084.15 523.605 1313.88 804.234 1313.88C1084.86 1313.88 1314.29 1084.13 1314.29 803.131ZM0.202113 803.131C0.202094 357.057 358.784 0.202162 804.234 0.202168C1249.68 0.202174 1603.82 357.057 1603.82 803.131C1603.82 1249.2 1249.67 1603.82 804.234 1603.82C358.801 1603.82 0.202133 1249.2 0.202113 803.131Z' fill='%23EF7D00'/%3E%3C/svg%3E%0A");

		width: rem(1604);
		height: rem(1604);

		@include media('>=lg') {
			display: block;
		}
	}

	&__subtitle {
		margin-bottom: rem(15);
	}

	&__title {
		@include font(40, 42);

		max-width: rem(898);
		margin-bottom: rem(30);

		i {
			letter-spacing: 0.02em;
		}

		@include media('>=lg') {
			@include font(60, 60);

			margin-bottom: rem(62);
		}

		&--list {
			@include font(20, 30);
			font-weight: 700;

			margin-bottom: rem(27);

			@include media('>=lg') {
				margin-bottom: rem(19);
			}
		}
	}

	&__description {
		width: calc(100% - 34px);
		margin-bottom: rem(30);

		@include media('>=lg') {
			max-width: rem(624);
			width: 100%;
			margin-bottom: rem(70);
		}
	}

	&__list {
		max-width: rem(1010);
		margin: 0;
		padding: 0;

		list-style: none;

		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: rem(30) rem(30);

		@include media('>=400px') {
			margin: 0 rem(-20) 0 0;
		}

		@include media('>=lg') {
			margin: 0;

			gap: rem(86) rem(39);
		}

		&--all {
			.team__item {
				&:nth-child(n+9){
					@include media('>=lg') {
						display: block;
					}
				}

				&:nth-child(n+7){
					@include media('<=991px') {
						display: block;
					}
				}
			}
		}
	}

	&__item {
		width: calc(50% - 15px);

		@include media('>=lg') {
			width: calc(25% - 29.25px);
		}

		&:nth-child(n+9){
			@include media('>=lg') {
				display: none;
			}
		}

		&:nth-child(n+7){
			@include media('<=991px') {
				display: none;
			}
		}
	}

	&__image {
		position: relative;

		width: 100%;
		margin-bottom: rem(17);

		border-radius: rem(50) rem(2) rem(2) rem(2);

		overflow: hidden;

		@include media('>=400px') {
			margin-bottom: rem(23);
		}

		@include media('>=lg') {
			margin-bottom: rem(20);

			border-radius: rem(100) rem(4) rem(4) rem(4);
		}

		&::after {
			content: '';
			display: block;

			padding-bottom: 110.22364217252397%;

			@include media('>=lg') {
				padding-bottom: 107.4065786529425%;
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__name {
		@include font(16, 20);
		font-weight: 700;

		margin-bottom: rem(2);

		@include media('>=400px') {
			margin-bottom: rem(6);
		}
	}

	&__linkedin {
		@include font(15, 20);

		.wp-block-button__link {
			@include font(15, 20);

			transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;

			padding: 0;
			border: none;
			background: rgba(0,0,0,0);

			color: $color--secondary !important;

			@include media('>=lg') {
				border: none;
				border-radius: 0;

				background-color: rgba(0,0,0,0) !important;
				background-image: linear-gradient(currentColor, currentColor);
				background-repeat: no-repeat;
				background-size: 0% 1px;
				background-position: 100% 100%;
			}

			&:hover {
				color: $color--light !important;
	
				@include media('>=lg') {
					background-position: 0 100%;
					background-size: 100% 1px;
				}
			}
		}
	}

	&__more {
		display: flex;
		justify-content: center;

		margin-top: rem(50);

		@include media('>=400px') {
			margin-top: rem(82);
		}

		@include media('>=lg') {
			display: block;

			margin-top: rem(88);
		}

		&.hidden {
			display: none;
		}

		.wp-block-button__link {
			@include media('>=lg') {
				padding: rem(15) rem(34);
			}
		}
	}
}