@import '__settings/init';

.image-boxes {
	padding: rem(15) 0 rem(39) !important;

	@include media('>=lg') {
		padding: rem(75) 0 rem(148) !important;
	}

	&__title {
		margin-bottom: rem(40);
	}

	&__description {
		@include font(15, 20);

		max-width: rem(812);
		margin: 0 auto rem(50);

		@include media('>=lg') {
			@include font(20, 30);

			margin: 0 auto rem(65);
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(40);

		@include media('>=lg') {
			gap: rem(90);
		}

		&--big {
			@include media('>=lg') {
				gap: rem(65) rem(25);
			}

			.image-boxes__col {
				@include media('>=lg') {
					width: calc(33.3333% - 16.6666px);
				}
			}
		}
	}

	&__col {
		width: 100%;
		padding: rem(54) rem(30) rem(54) rem(30);

		display: flex;
		flex-direction: column;
		align-items: center;

		border: rem(1.5) dashed rgba(255, 255, 255, 0.4);
		border-radius: rem(4);

		transition: border 0.3s ease-in-out;

		@include media('>=lg') {
			width: calc(33.3333% - 60px);
			padding: rem(30) rem(30) rem(45) rem(30);
		}

		&:first-child {
			border-radius: rem(80) rem(4) rem(4) rem(4);
		}

		&:nth-child(3n+1) {
			@include media('>=lg') {
				border-radius: rem(80) rem(4) rem(4) rem(4);
			}
		}

		&:hover {
			border: rem(1.5) dashed #EF7D00;

			.image-box__image::before {
				opacity: 1;
			}
		}
	}

	&__btn {
		margin-top: rem(50);
		margin-bottom: 0;

		display: flex;
		justify-content: flex-start;

		@include media('>=lg') {
			margin-top: rem(54);

			justify-content: flex-end;
		}

		&.aligncenter {
			@include media('>=lg') {
				justify-content: center;
			}
		}

	}
}

.image-box {
	&__image {
		max-width: rem(145);
		margin-bottom: rem(21);

		position: relative;

		&::before {
			content: '';
			display: block;

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			border-radius: 50%;
			border: rem(23) solid rgba(239, 125, 0, 0.4);

			pointer-events: none;

			opacity: 0;

			transition: opacity 0.3s ease-in-out;
		}

		img {
			border-radius: 50%;
		}
	}

	&__title {
		@include font(16, 20);
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;

		max-width: rem(184);
		width: 100%;
		margin-bottom: rem(6);
	}

	&__desc {
		@include font(15, 20);

		max-width: rem(184);
		width: 100%;
		margin-bottom: rem(6);
	}

	&__link-wrapper {
		display: flex;
		align-items: center;
		gap: rem(4);

		max-width: rem(184);
		width: 100%;
	}

	&__link {
		display: inline-block;
		color: $color--secondary;

		@include font(10, 20);
		text-decoration: none;

	}
}